<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学而思选课</title>
    <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/new.css') }}" rel="stylesheet">
</head>
<body>
    <div id="head" >
        <div class="container width" style="background-color:#56a7dc;">
            <div class="row" >
                <div class="col-md-5" >
                    <div class="logo">
                        <span>
                            <img src="{{ static_url('images/pylogo-sk.png') }}" alt="学而思选课" title="学而思选课" /></span>
                        <span class="logo_font">选课</span>
                    </div>
                    <!-- /end logo -->
                </div>
                <!-- /end col-md-5 -->
            </div>
            <!-- /end row -->
        </div>
        <!-- /end container -->
    </div>
    <!-- /end head -->
    <div class="bar">
        <div class="container width" >
            <div class="bar_content">
            </div>
        </div>
        <!-- /end container -->
    </div>
    <!-- /end bar -->
    <div id="content">
        <div class="container width">
               <div class="left">
                    <div class="left-top">
                    <h5>选课><strong>老师详情</strong></h5>
                </div>
                <!-- /end left-top -->
                {% block teacher-info %}
                      <div class="teacher">
                   <div class="teacher-info">
                      <h4 style="margin-top:20px;">基本资料</h4>
                      <div class="line"></div>
                      <img src="{{static_url('imge/Sumi.jpg') }}" class="img-thumbnail" width="22%" style="margin-left:20px; float:left; margin-top:25px;">
                      <p><strong>姓名: </strong>Maria Charis B. Blanco                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <strong>昵称：</strong>Sumi</p>
                      <p><strong>教师证书：</strong>TESL &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <strong>教学经验：</strong>7年</p>
                      <p><strong>擅长人群：</strong>成人和少儿</p>
                      <p><strong>擅长级别：</strong>入门级、中高级</p>
                      <p><strong>兴趣爱好：</strong>看小说，刷微薄，上网聊天</p>
                   </div><!-- /end teacher-info -->
                   <h4 style="margin-top:40px;">自我介绍|Introdution</h4>

                   <div class="line"></div>

                   <div class="teacher-intro" >

                      <p><strong>Introdution:</strong>Hi! I am Teacher Sumi! I have been teaching ESL for seven years. I enjoy talking to different people and learning from them as well. When I have free time, I like reading romance novels from wattpad, visiting blogs related to fashion, chatting with friends, and watching movies and TV series. One of my dreams is to travel the world and explore different cultures... I hope to see you in class. I'm sure we'll have fun learning together!</p>

                      <p><strong>自我介绍：</strong>嗨！我是Sumi，7年来我一直教授非母语英语课程。我喜欢和不同的人交流，也喜欢向他们学习。空闲时间，我喜欢从wattpad（一家手机电子书公司）上读浪漫小说，在博客上关注最新时尚，与朋友聊天,看电影和电视剧。我的梦想之一是环游世界以及探索不同的文化。期待在课堂上见到你。相信我们一定会一起快乐学习的!
</p>
                   </div>
                   <p><embed src="http://player.youku.com/player.php/sid/XNzIyMTMwOTEy/v.swf" allowfullscreen="true" quality="high" width="30%" height="200" align="middle" name="english" title="english" type="application/x-shockwave-flash" flashvars="winType=adshow&amp;isAutoPlay=false" style="visibility: visible; float:right; margin-right: 25px; margin-top:30px;" /></p>

                </div><!-- /end teacher -->
                {% end %}
                <!-- /end teacher-info -->

            </div><!-- /end col-lg-9-->



             <div class="rg">
               <div class="right">
                <div class="s-side-right">
                    <h3>名师推荐</h3>
                </div>
                <div class="teacher-box">
                    <a href="/teacher?tid=m206"><img src="{{ static_url('imge/angel.gif') }}" class="imge"></a>
                    <div class="text">
                        <strong>Angel</strong>
                        <p>
                            教师证书：TOEIC<br>
                            任教时间：4年
                        </p>
                    </div>
                    <!-- /end text -->
                </div>
                <!-- /end teacher-box -->
                    <div class="teacher-box">
                        <a href="/teacher?tid=c102"><img src="{{ static_url('imge/Suzette.jpg') }}" class="imge"></a>
                        <div class="text">
                            <strong>Suze</strong>
                            <p>
                                教师证书：TESL<br>
                                任教时间：5年
                            </p>
                        </div>
                        <!-- /end text -->
                    </div>

                <div class="teacher-box">
                    <a href="/teacher?tid=c104"><img src="{{ static_url('imge/Janice.jpg') }}" class="imge"></a>
                    <div class="text">
                        <strong>Janice</strong>
                        <p>
                           教师证书：TESOL<br>
                           任教时间：8年
                        </p>
                    </div>
                    <!-- /end text -->
                </div>

                  <!-- /end teacher-box -->
                <div class="teacher-box">
                    <a href="/teacher?tid=c106"><img src="{{ static_url('imge/Meca.jpg') }}" class="imge"></a>
                    <div class="text">
                        <strong>Meca</strong>
                        <p>
                            教师证书：TESL<br>
                            任教时间：2年
                        </p>
                    </div>
                    <!-- /end text -->
                </div>
                <!-- /end teacher-box -->
                <div class="teacher-box">
                    <a href="/teacher?tid=m202"><img src="{{ static_url('imge/Loralyn.jpg') }}" class="imge"></a>
                    <div class="text">
                        <strong>Lora</strong>
                        <p>
                            教师证书：TESL<br>
                            任教时间：2年
                        </p>
                    </div>
                    <!-- /end text -->
                </div>

                <div class="teacher-box">
                    <a href="/teacher?tid=m204"><img src="{{ static_url('imge/Rodalyn.jpg') }}" class="imge"></a>
                    <div class="text">
                        <strong>Roda</strong>
                        <p>
                            教师证书：TESL<br>
                            任教时间：3年
                        </p>
                    </div>
                    <!-- /end text -->
                </div>
                <!-- /end teacher-box -->


                <!-- /end teacher-box -->
                <div class="teacher-box">
                    <a href="/teacher?tid=m210"><img src="{{ static_url('imge/Chelsea.gif') }}" class="imge"></a>
                    <div class="text">
                        <strong>Chelsea</strong>
                        <p>
                            教师证书：TESL<br>
                            任教时间：2年
                        </p>
                    </div>
                    <!-- /end text -->
                </div>

                <div class="teacher-box">
                    <a href="/teacher?tid=m208"><img  src="{{ static_url('imge/Josemaria.jpg') }}" class="imge"></a>
                    <div class="text">
                        <strong>Jom</strong>
                        <p>
                            教师证书：TESL<br>
                            任教时间：2年
                        </p>
                    </div>
                    <!-- /end text -->
                </div>


                <!-- /end teacher-box -->
               <div class="div_button">
                    <div class="glyphicon glyphicon-chevron-left div_left_button"></div>
                    <div class="glyphicon glyphicon-chevron-right div_right_button"></div>
                </div>
               </div> 

             </div><!-- /end col-lg-3 -->
        </div><!-- /end container -->
    </div>
    <!-- /end content -->

    <div class="footer">
        <p>
            咨询电话：010-82618899 62164116  京ICP备09032638号-4
     <br />
            Copyright @ 2004 – 2013 Xueersi.All Rights Reserved.学而思教育 版权所有
        </p>
    </div>
</body>
</html>

