                   {% extends base-teacher.html %}

 {% block teacher-info %}

                <div class="teacher">
                   <div class="teacher-info">
                      <h4 style="margin-top:20px;">基本资料|Personal Information</h4>
                      <div class="line"></div>
                      <img src="{{static_url('imge/Aileen.jpg')}}" class="img-thumbnail" width="22%" style="margin-left:20px; float:left; margin-top:25px;">
                      <p><strong>姓名: </strong>Aileen R. Castro           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <strong>昵称：</strong>Leen</p>
                      <p><strong>教师证书：</strong>TESL &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <strong>教学经验：</strong>3年</p>
                      <p><strong>擅长人群：</strong>少儿、成人</p>
                      <p><strong>擅长级别：</strong>入门级、基础级、进阶级</p>
                      <p><strong>兴趣爱好：</strong>唱歌、跳舞、作曲、烹饪</p>
                   </div><!-- /end teacher-info -->
                   <h4 style="margin-top:40px;">自我介绍|Introdution</h4>

                   <div class="line"></div>

                   <div class="teacher-intro" >

                      <p><strong>Introdution:</strong>Hi! My name is Ms.Aileen Castro. I’m a jolly person and I love to make new friends.I’m interested in composing songs, singing, dancing, and cooking. I hope you’ll enjoy our class; I’m not a strict teacher, so I think we’ll have a fun class in the future. I’m excited to meet you.</p>

                      <p><strong>自我介绍：</strong> 你好，我是Aileen Castro。性格活泼开朗，特别喜欢交朋友，希望我们能成为朋友哦。爱好作曲、唱歌、跳舞及烹饪。希望你能喜欢我们的课堂氛围。我可不是一个严厉的老师，所以相信我们的课堂一定会非常生动活泼，十分有趣。很高兴能认识你哦！</p>
                   </div>
                   <p><embed src="http://player.youku.com/player.php/sid/XNzM1Njk1MDcy/v.swf" allowfullscreen="true" quality="high" width="30%" height="200" align="middle" name="english" title="english" type="application/x-shockwave-flash" flashvars="winType=adshow&amp;isAutoPlay=false" style="visibility: visible; float:right; margin-right: 25px; margin-top:30px;" /></p>

                </div><!-- /end teacher -->

{% end %}