{% extends base-teacher.html %}
{% block teacher-info %}

<div class="teacher">
                   <div class="teacher-info">
                      <h4 style="margin-top:20px;">基本资料|Personal Information</h4>
                      <div class="line"></div>
                      <img src="{{static_url('imge/Suzette.jpg')}}" class="img-thumbnail" width="22%" style="margin-left:20px; float:left; margin-top:25px;">
                      <p><strong>姓名: </strong>Suzette Marian S. Yuan               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <strong>昵称：</strong>Suze</p>
                      <p><strong>教师证书：</strong>TESL &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <strong>教学经验：</strong>5年</p>
                      <p><strong>擅长人群：</strong>成年和少儿</p>
                      <p><strong>擅长级别：</strong>入门级、基础级、中高级</p>
                      <p><strong>兴趣爱好：</strong>喜欢看英文小说，唱歌，游泳，看电影</p>
                   </div><!-- /end teacher-info -->
                   <h4 style="margin-top:40px;">自我介绍|Introdution</h4>

                   <div class="line"></div>

                   <div class="teacher-intro" >

                      <p><strong>Introdution:：</strong>Hello! I am teacher Suzette! I've been teaching ESL for almost 5 years now. I am a person who loves reading-English pocketbooks to be exact. My favourite author is Agatha Christie, because of her tricky way in creating stories. I'm also into singing. I just sing whenever I feel sad because music alleviates my mood. I'm really excited to have fun with you in class! I'll be waiting...see you soon!</p>
                      <p><strong>自我介绍：</strong> 大家好！我是Suzette。我一直从事非母语英语课程教学工作，至今已有5年。我非常喜欢英语口袋故事。我最喜欢的作者是阿加莎•克里斯蒂，因为她讲述故事的方式总是那么的精妙。我也很喜欢唱歌。每当心情不好的时候，我就唱歌，因为唱歌能缓解我的情绪。我非常希望在课堂上能和你玩得开心。期待和你的见面哟！
会一起快乐学习的!</p>
                   </div>
                   <p><embed src="http://player.youku.com/player.php/sid/XNzIyMTMxMzYw/v.swf" allowfullscreen="true" quality="high" width="30%" height="200" align="middle" name="english" title="english" type="application/x-shockwave-flash" flashvars="winType=adshow&amp;isAutoPlay=false" style="visibility: visible; float:right; margin-right: 25px; margin-top:30px;" /></p>

                </div><!-- /end teacher -->
{% end %}