{% extends base-teacher.html %}

 {% block teacher-info %}
                <img src="{{ static_url('imge/Rodalyn.jpg')}}" class="img-thumbnail" width="32%" style="margin-top: 10px; margin-left: 20px; float:left;">

                <div class="teacher-info">
                    <h4 style="color:#09F; margin-left:20px; margin-top:20px;"><strong>Rodalyn</strong> | 菲律宾老师（Philippine）</h4>
                    <p><strong>Introdution:</strong>Hi there!  Good morning,you can call me Teacher Roda. I’m 26 years old and a graduate of Secondary Education major in English. I’ve been teaching English to Koreans for three years now and I really love what I’m doing. I’ve taught different levels from kids to adults and even Senior citizens. I love teaching and it’s more exciting to do with kids. They are vulnerable, adorable and so cute. The progress of my students would be the most interesting part of doing this job. It serves as a reward and your hint to make a new room for the improvements of your teaching style. I would love to do this work for the rest of my life. Thank you</p>
                    <p><strong>自我介绍：</strong>嗨，大家好！你可以叫我Roda老师，我26岁,毕业于教育学院英语专业。我有三年教授韩国学生的工作经历，一直非常喜欢教育工作。我还教授过从小学到成人甚至老年人的学员。我热爱教学,和孩子一起上课更加有趣。孩子们十分天真,可爱。我的学生们的进步将会做这个工作最有趣的部分。学生的进步让我感觉很有成就感。我会终身投入教育工作和你愉快的学习。谢谢。</p>
                </div>
                <p><embed src="http://player.youku.com/player.php/sid/XNzIyMTMyMzcy/v.swf" allowfullscreen="true" quality="high" width="32%" height="220" align="middle" name="english" title="english" type="application/x-shockwave-flash" flashvars="winType=adshow&amp;isAutoPlay=false" style="visibility: visible; float:left; margin-left: 20px; margin-top:15px;" /></p>

                <!-- /end teacher-info -->
{% end %}