<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学而思选课</title>
    <link href="resource/css/bootstrap.css" rel="stylesheet">
    <link href="resource/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="resource/css/new.css" rel="stylesheet">
</head>
<body>
    <div id="head" >
        <div class="container width" style="background-color:#56a7dc;">
            <div class="row" >
                <div class="col-md-5" >
                    <div class="logo">
                        <span>
                            <img src="imge/pylogo-sk.png" alt="学而思选课" title="学而思选课" /></span>
                        <span class="logo_font">选课</span>
                    </div>
                    <!-- /end logo -->
                </div>
                <!-- /end col-md-5 -->
            </div>
            <!-- /end row -->
        </div>
        <!-- /end container -->
    </div>
    <!-- /end head -->
    <div class="bar">
        <div class="container width" >
            <div class="bar_content">
              <form action="/api/class/timetable/list" method="GET" class="form-inline" id="searchForm"  role="form">
          <input type="hidden" id="claId" name="claId" value="{{ args.get('claId') }}"/>
          <input type="hidden" id="uid" name="uid" value="{{ args.get('uid') }}"/>
          <input type="hidden" id="pageNo" name="pageNo" value="{{ args.get('pageNo', 1)}}"/>
          <div class="form-group" style="margin-top:8px; margin-left:10px; ">
            <label class="sr-only" for="teacherName">老师</label>
            <input type="text" class="form-control  input-sm " id="teacherName" name="teacherName" placeholder="Teacher Name">
          </div>
          <div class="form-group"  style="margin-top:8px;margin-left:5px;">
            <select name="timeInterval" id="timeInterval" class="form-control input-sm">
              <option value="0" selected>----全天----</option>
              <option value="05:00-09:00" disabled>----上午----</option>
              <option value="05:00-09:00">05:00-09:00</option>
              <option value="09:00-12:00">09:00-12:00</option>
              <option value="12:00-23:00" disabled>----下午----</option>
              <option value="12:00-14:00">12:00-14:00</option>
              <option value="14:00-18:00">14:00-18:00</option>
              <option value="18:00-20:00">18:00-20:00</option>
              <option value="20:00-23:00">20:00-23:00</option>
            </select>
          </div>
          <div class="form-group" style="margin-top:8px;margin-left:5px;"><button type="submit" class="btn btn-info btn-xs">查询</button></div>
        </form>

            </div>
        </div>
        <!-- /end container -->
    </div>
    <!-- /end bar -->
    <div id="content">
        <div class="container width">
               <div class="left">
                <div class="left-top">
                    <h5>选课><strong>老师详情</strong></h5>
                </div>
                <!-- /end left-top -->

                <img src="imge/Cely.jpg" class="img-thumbnail" width="32%" style="margin-top: 10px; margin-left: 20px; float:left;">

                <div class="teacher-info">
                    <h4 style="color:#09F; margin-left:20px; margin-top:20px;"><strong>Cely</strong> | 菲律宾老师（Philippine）</h4>
                    <p>Introdution:I was able to teach high school students for four months. It was a great experience. Also, I taught young kids aging 2-5 years old. It was totally different. The experience was fun and I enjoy how kids handle their tasks. Lastly, I worked in a Korean company as an online teacher for at least a year. I had to make a big adjustment and the good thing I did. Teaching is a great adventure for me.</p>
                    <p>自我介绍：嗨，你们好！我是Cely,今年22岁。我教过高中学生，也教过2-5岁的幼儿，这是两个完全不同的经历。教授幼儿是一个非常有趣的经历，我喜欢和孩子们一起找方法完成任务。此外，我还在一家韩国公司做过一年的在线教师。我喜欢教学，喜欢和你们在一起。期待与你们的见面！</p>
                    
                </div>
                <p><embed src="http://player.youku.com/player.php/sid/XNjYyOTAxMDQ4/v.swf" allowfullscreen="true" quality="high" width="32%" height="220" align="middle" name="english" title="english" type="application/x-shockwave-flash" flashvars="winType=adshow&amp;isAutoPlay=false" style="visibility: visible; float:left; margin-left: 20px; margin-top:15px;" /></p>

                <!-- /end teacher-info -->

                <div class="left-top" style="float:left; margin-top:10px;">
                    <h5 style="line-height: 20px;"><strong>老师课表</strong></h5>
                </div>
                <!-- /end left-top -->

                <table class="table " style="width:835px; margin-left:10px;">
                    <thead>
                        <tr>
                            <th style="color:#09F;">时间</th>
                            <th style="color:#09F;">日期</th>
                            <th style="color:#09F;">预约</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>13:00-13:30</td>
                            <td>
                                <button type="button" class="btn btn-warning btn-xs date form_datetime" id="datetimepicker">2014年</button>
                                <button type="button" class="btn btn-primary btn-xs">12/11</button>
                                <button type="button" class="btn btn-primary btn-xs">12/11</button>
                                <button type="button" class="btn btn-primary btn-xs">12/11</button>
                                <button type="button" class="btn btn-primary btn-xs">12/11</button>
                                <button type="button" class="btn btn-primary btn-xs">12/11</button>
                                <button type="button" class="btn btn-primary btn-xs">12/11</button>
                                <button type="button" class="btn btn-primary btn-xs">12/11</button>
                                <button type="button" class="btn btn-primary btn-xs">12/11</button>
                                <button type="button" class="btn btn-primary btn-xs">12/11</button>
                                <button type="button" class="btn btn-primary btn-xs">12/11</button>
                                <button type="button" class="btn btn-primary btn-xs">12/11</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default btn-xs active" data-toggle="modal" data-target="#myModal">约课</button>
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" style="color: #09F;">Modal title</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p style="font-size: 12px; color: #999;">One fine body&helli;</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary btn-xs">Save changes</button>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                                <!-- /.modal -->
                            </td>
                        </tr>
                        <tr>
                            <td>13:00-13:30</td>
                            <td>
                                <button type="button" class="btn btn-warning btn-xs date form_datetime" id="datetimepicker">2014年</button>
                                <button type="button" class="btn btn-primary btn-xs">12/11</button>
                                <button type="button" class="btn btn-primary btn-xs">12/11</button>
                                <button type="button" class="btn btn-primary btn-xs">12/11</button>
                                <button type="button" class="btn btn-primary btn-xs">12/11</button>
                                <button type="button" class="btn btn-primary btn-xs">12/11</button>
                                <button type="button" class="btn btn-primary btn-xs">12/11</button>
                                <button type="button" class="btn btn-primary btn-xs">12/11</button>
                                <button type="button" class="btn btn-primary btn-xs">12/11</button>
                                <button type="button" class="btn btn-primary btn-xs">12/11</button>
                                <button type="button" class="btn btn-primary btn-xs">12/11</button>
                                <button type="button" class="btn btn-primary btn-xs">12/11</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default btn-xs active">约课</button>
                            </td>
                        </tr>
                        <tr>
                            <td>13:00-13:30</td>
                            <td>
                                <button type="button" class="btn btn-warning btn-xs date form_datetime" id="datetimepicker">2014年</button>
                                <button type="button" class="btn btn-primary btn-xs">12/11</button>
                                <button type="button" class="btn btn-primary btn-xs">12/11</button>
                                <button type="button" class="btn btn-primary btn-xs">12/11</button>
                                <button type="button" class="btn btn-primary btn-xs">12/11</button>
                                <button type="button" class="btn btn-primary btn-xs">12/11</button>
                                <button type="button" class="btn btn-primary btn-xs">12/11</button>
                                <button type="button" class="btn btn-primary btn-xs">12/11</button>
                                <button type="button" class="btn btn-primary btn-xs">12/11</button>
                                <button type="button" class="btn btn-primary btn-xs">12/11</button>
                                <button type="button" class="btn btn-primary btn-xs">12/11</button>
                                <button type="button" class="btn btn-primary btn-xs">12/11</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default btn-xs active">约课</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- /end col-lg-9-->
             <div class="rg">
               <div class="right">
                <div class="s-side-right">
                    <h3>名师推荐</h3>
                </div>
                <div class="teacher-box">
                    <img src="imge/ana.jpg" class="imge">
                    <div class="text">
                        <strong>Ana</strong>
                        <p>
                            老师级别：菲律宾老师<br>
                            任教时间：2年
                        </p>
                    </div>
                    <!-- /end text -->
                </div>
                <!-- /end teacher-box -->
                <div class="teacher-box">
                    <img src="imge/ana.jpg" class="imge">
                    <div class="text">
                        <strong>Ana</strong>
                        <p>
                            老师级别：菲律宾老师<br>
                            任教时间：2年
                        </p>
                    </div>
                    <!-- /end text -->
                </div>
                <!-- /end teacher-box --> 
                <div class="teacher-box">
                    <img src="imge/ana.jpg" class="imge">
                    <div class="text">
                        <strong>Ana</strong>
                        <p>
                            老师级别：菲律宾老师<br>
                            任教时间：2年
                        </p>
                    </div>
                    <!-- /end text -->
                </div>
                <!-- /end teacher-box -->
                <div class="teacher-box">
                    <img src="imge/ana.jpg" class="imge">
                    <div class="text">
                        <strong>Ana</strong>
                        <p>
                            老师级别：菲律宾老师<br>
                            任教时间：2年
                        </p>
                    </div>
                    <!-- /end text -->
                </div>
                <!-- /end teacher-box -->
                <div class="teacher-box">
                    <img src="imge/ana.jpg" class="imge">
                    <div class="text">
                        <strong>Ana</strong>
                        <p>
                            老师级别：菲律宾老师<br>
                            任教时间：2年
                        </p>
                    </div>
                    <!-- /end text -->
                </div>
                <!-- /end teacher-box -->
                <div class="teacher-box">
                    <img src="imge/ana.jpg" class="imge">
                    <div class="text">
                        <strong>Ana</strong>
                        <p>
                            老师级别：菲律宾老师<br>
                            任教时间：2年
                        </p>
                    </div>
                    <!-- /end text -->
                </div>
                <!-- /end teacher-box -->  

               <div class="div_button">
                    <div class="glyphicon glyphicon-chevron-left div_left_button"></div>
                    <div class="glyphicon glyphicon-chevron-right div_right_button"></div>
                </div>
               </div> 

             </div><!-- /end col-lg-3 -->
        </div><!-- /end container -->
    </div>
    <!-- /end content -->

    <div class="footer">
        <p>
            咨询电话：010-82618899 62164116  京ICP备09032638号-4
     <br />
            Copyright @ 2004 – 2013 Xueersi.All Rights Reserved.学而思教育 版权所有
        </p>
    </div>
    <!-- /end footer -->
    <script src="resource/js/jquery.min.js"></script>
    <script src="resource/js/bootstrap.js"></script>
    <script src="resource/js/bootstrap-datetimepicker.js"></script>
    <script src="resource/js/bootstrap-datetimepicker.zh-CN.js"></script>
</body>
</html>

