{% extends base-teacher.html %}

 {% block teacher-info %}
                      <div class="teacher">
                   <div class="teacher-info">
                      <h4 style="margin-top:20px;">基本资料|Personal Information</h4>
                      <div class="line"></div>
                      <img src="{{static_url('imge/cely.gif')}}" class="img-thumbnail" width="22%" style="margin-left:20px; float:left; margin-top:25px;">
                      <p><strong>姓名: </strong>Cely dela Cruz               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <strong>昵称：</strong>Cely</p>
                      <p><strong>教师证书：</strong>TESL &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <strong>教学经验：</strong>2年</p>
                      <p><strong>擅长人群：</strong>少儿、青少儿</p>
                      <p><strong>擅长级别：</strong>入门级、基础级、进阶级</p>
                      <p><strong>兴趣爱好：</strong>喜欢教学</p>
                   </div><!-- /end teacher-info -->
                   <h4 style="margin-top:40px;">自我介绍|Introdution</h4>

                   <div class="line"></div>

                   <div class="teacher-intro" >

                      <p><strong>Introdution:</strong>Hi. I am Cely.I was able to teach high school students for four months. It was a great experience. Also, I taught young kids aging 2-5 years old. It was totally different. The experience was fun and I enjoy how kids handle their tasks. Lastly, I worked in a Korean company as an online teacher for at least a year. I had to make a big adjustment and the good thing I did. Teaching is a great adventure for me </p>

                      <p><strong>自我介绍：</strong>嗨，你们好！我是Cely。我教过高中生，也教过2-5岁的幼儿，这是两个完全不同的经历。教授幼儿是一个非常有趣的经历，我喜欢和孩子们一起找方法完成任务。此外，我还在一家韩国公司做过一年的在线教师。我喜欢教学，喜欢和你们在一起。期待与你们的见面！保证你能从我这学到很多哦。</p>
                   </div>
                   <p><embed src="http://player.youku.com/player.php/sid/XNzIyMTMwNjM2/v.swf" allowfullscreen="true" quality="high" width="30%" height="200" align="middle" name="english" title="english" type="application/x-shockwave-flash" flashvars="winType=adshow&amp;isAutoPlay=false" style="visibility: visible; float:right; margin-right: 25px; margin-top:30px;" /></p>

                </div><!-- /end teacher -->
{% end %}