{% extends base-teacher.html %}

 {% block teacher-info %}
                <img src="{{ static_url('imge/Ruth.jpg')}}" class="img-thumbnail" width="32%" style="margin-top: 10px; margin-left: 20px; float:left;">

                <div class="teacher-info">
                    <h4 style="color:#09F; margin-left:20px; margin-top:20px;"><strong>Ruth</strong> | 菲律宾老师（Philippine）</h4>
                    <p><strong>Introdution:</strong>Hello everyone! My name is Ruth. I am 30 years old. I graduated from St. Paul University. I am a mother of 2. I like reading books, watching movies and hearing funny stories. In weekends, i spend my day playing with my kids, watching cartoons and eating snacks. I also play sports like basketball and badminton.</p>
                    <p>Again this is Teacher Ruth and I am very excited to work and play with you soon.</p>
                    <p><strong>自我介绍：</strong>大家好！我是Ruth，30岁，毕业于菲律宾圣保罗大学。我有两个小孩。我很喜欢看书，看电影，听有趣的故事。周末，我都是和我的孩子们度过的，我们一起看动画片，一起吃零食。我也很喜欢篮球和羽毛球哦。呵呵，Ruth老师很期待能和你们一起学习哟！</p>
                </div>
                <p><embed src="http://player.youku.com/player.php/sid/XNzIyMTMyNTU2/v.swf" allowfullscreen="true" quality="high" width="32%" height="220" align="middle" name="english" title="english" type="application/x-shockwave-flash" flashvars="winType=adshow&amp;isAutoPlay=false" style="visibility: visible; float:left; margin-left: 20px; margin-top:15px;" /></p>
{% end %}