{% extends base-teacher.html %}
{% block teacher-info %}
                     <div class="teacher">
                   <div class="teacher-info">
                      <h4 style="margin-top:20px;">基本资料|Personal Information</h4>
                      <div class="line"></div>
                      <img src="{{static_url('imge/Josemaria.jpg')}}" class="img-thumbnail" width="22%" style="margin-left:20px; float:left; margin-top:25px;">
                      <p><strong>姓名: </strong>Josemaria M. Espinosa               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <strong>昵称：</strong>Jom</p>
                      <p><strong>教师证书：</strong>TESL &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <strong>教学经验：</strong>2年</p>
                      <p><strong>擅长人群：</strong>少儿、青少儿、成人</p>
                      <p><strong>擅长级别：</strong>基础级、进阶级</p>
                      <p><strong>兴趣爱好：</strong>打篮球，自制有趣的东西，看动作片</p>
                   </div><!-- /end teacher-info -->
                   <h4 style="margin-top:40px;">自我介绍|Introdution</h4>

                   <div class="line"></div>

                   <div class="teacher-intro" >

                      <p><strong>Introdution:</strong>Hi, I’m Jom, a jolly teacher. I like playing basketball and doing fun stuff; watching action movies too. I’m looking forward to having a class. I’m very excited to meet you. I will make sure that you learn a lot from me. </p>

                      <p><strong>自我介绍：</strong>大家好! 我是Jom，是一个非常欢乐的老师哦。我喜欢打篮球、自制有趣的东西、看动作片。我期待能上课，期待与你的见面。我保证你能从我这学到很多哦。</p>
                   </div>
                   <p><embed src="http://player.youku.com/player.php/sid/XNzI1NDI2NzM2/v.swf" allowfullscreen="true" quality="high" width="30%" height="200" align="middle" name="english" title="english" type="application/x-shockwave-flash" flashvars="winType=adshow&amp;isAutoPlay=false" style="visibility: visible; float:right; margin-right: 25px; margin-top:30px;" /></p>

                </div><!-- /end teacher -->

{% end %}