                   {% extends base-teacher.html %}

 {% block teacher-info %}

                <div class="teacher">
                   <div class="teacher-info">
                      <h4 style="margin-top:20px;">基本资料|Personal Information</h4>
                      <div class="line"></div>
                      <img src="{{static_url('imge/Shammy.jpg')}}" class="img-thumbnail" width="22%" style="margin-left:20px; float:left; margin-top:25px;">
                      <p><strong>姓名: </strong>Shalom Bless Abejar         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <strong>昵称：</strong>Shammy</p>
                      <p><strong>教师证书：</strong>TESL &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <strong>教学经验：</strong>2年</p>
                      <p><strong>擅长人群：</strong>少儿、青少儿、成人</p>
                      <p><strong>擅长级别：</strong>入门级、基础级、中高级、高级、专家级</p>
                      <p><strong>兴趣爱好：</strong>上网、烹饪、社交网络、阅读博客</p>
                   </div><!-- /end teacher-info -->
                   <h4 style="margin-top:40px;">自我介绍|Introdution</h4>

                   <div class="line"></div>

                   <div class="teacher-intro" >

                      <p><strong>Introdution:</strong>Hello there! My name is Teacher Shammy, I have been teaching English as Second Language for 2 years now. I had experiences teaching Koreans and Chinese students like you. I enjoy teaching because I don’t just teach but I also learn from my students. My students loved me because I make sure that they’re having fun in my class. I love traveling, I love trying exotic food (I have eaten Crocodile in Palawan, Philippines), I love taking pictures and sharing it to other people thru social networking sites like Facebook and Instagram, I love talking to other people and learn how cultures of different countries are also different from each other but they can still connect to one another. I am so excited to share more about myself and know more about you as well, so I hope to see you in my class one of these days. Have a nice day! </p>

                      <p><strong>自我介绍：</strong> 你好，我是Shammy老师，有两年的英语教学经验。我有教授韩国学生、中国学生的经验。我热爱教学因为不仅可以传授知识还可以从学生身上学到很多。学生们都很喜欢我，因为我的课堂非常有趣。我的爱好有很多，喜欢旅游、品尝美食、拍照并分享在社交网络上，如Facebook、Instagram等。喜欢和他人沟通，因为可以了解不同文化的差异。希望能尽早在课堂上见到你，这样我就可以分享彼此的故事哦，祝你心情愉快！</p>
                   </div>
                   <p><embed src="http://player.youku.com/player.php/sid/XNzM1NzQ1Nzc2/v.swf" allowfullscreen="true" quality="high" width="30%" height="200" align="middle" name="english" title="english" type="application/x-shockwave-flash" flashvars="winType=adshow&amp;isAutoPlay=false" style="visibility: visible; float:right; margin-right: 25px; margin-top:30px;" /></p>

                </div><!-- /end teacher -->

{% end %}