{% extends base-teacher.html %}

 {% block teacher-info %}

                <div class="teacher">
                   <div class="teacher-info">
                      <h4 style="margin-top:20px;">基本资料|Personal Information</h4>
                      <div class="line"></div>
                      <img src="{{static_url('imge/Rodalyn.jpg')}}" class="img-thumbnail" width="22%" style="margin-left:20px; float:left; margin-top:25px;">
                      <p><strong>姓名: </strong>Rodalyn Dantes Valdez             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <strong>昵称：</strong>Roda</p>
                      <p><strong>教师证书：</strong>TESL &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <strong>教学经验：</strong>3年</p>
                      <p><strong>擅长人群：</strong>成人和少儿、青少儿</p>
                      <p><strong>擅长级别：</strong>入门级、基础级、中高级</p>
                      <p><strong>兴趣爱好：</strong>非常喜欢教育工作，热爱教学</p>
                   </div><!-- /end teacher-info -->
                   <h4 style="margin-top:40px;">自我介绍|Introdution</h4>

                   <div class="line"></div>

                   <div class="teacher-intro" >

                      <p><strong>Introdution:：</strong>Hi there! Good morning,you can call me Teacher Roda. I’m a graduate of Secondary Education major in English. I’ve been teaching English to Koreans for three years now and I really love what I’m doing. I’ve taught different levels from kids to adults and even Senior citizens. I love teaching and it’s more exciting to do with kids. They are vulnerable, adorable and so cute. The progress of my students would be the most interesting part of doing this job. It serves as a reward and your hint to make a new room for the improvements of your teaching style. I would love to do this work for the rest of my life. Thank you</p>

                      <p><strong>自我介绍：</strong>嗨，大家好！你可以叫我Roda老师，毕业于教育学院英语专业。我有三年教授韩国学生的工作经历，一直非常喜欢教育工作。我还教授过从小学到成人甚至老年人的学员。我热爱教学，和孩子一起上课更加有趣。孩子们十分天真，可爱。我的学生们的进步是这个工作最有趣的部分。学生的进步让我感觉很有成就感。我会终身投入教育工作。谢谢！</p>
                   </div>
                   <p><embed src="http://player.youku.com/player.php/sid/XNzIyMTMyMzcy /v.swf" allowfullscreen="true" quality="high" width="30%" height="200" align="middle" name="english" title="english" type="application/x-shockwave-flash" flashvars="winType=adshow&amp;isAutoPlay=false" style="visibility: visible; float:right; margin-right: 25px; margin-top:30px;" /></p>

                </div><!-- /end teacher -->
{% end %}