                   {% extends base-teacher.html %}

 {% block teacher-info %}

                <div class="teacher">
                   <div class="teacher-info">
                      <h4 style="margin-top:20px;">基本资料|Personal Information</h4>
                      <div class="line"></div>
                      <img src="{{static_url('imge/Eric.jpg')}}" class="img-thumbnail" width="22%" style="margin-left:20px; float:left; margin-top:25px;">
                      <p><strong>姓名: </strong>Eric G. Baluyot &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <strong>昵称：</strong>Eric</p>
                      <p><strong>教师证书：</strong>TESL &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <strong>教学经验：</strong>2年</p>
                      <p><strong>擅长人群：</strong>少儿、成人</p>
                      <p><strong>擅长级别：</strong>基础级、进阶级</p>
                      <p><strong>兴趣爱好：</strong>打羽毛球、冲浪、各地旅游</p>
                   </div><!-- /end teacher-info -->
                   <h4 style="margin-top:40px;">自我介绍|Introdution</h4>

                   <div class="line"></div>

                   <div class="teacher-intro" >

                      <p><strong>Introdution:</strong>Hello! I’m Teacher Eric. I am a very friendly teacher. My hobbies are playing badminton, reading books, swimming, surfing, eating, cooking and watching movies. I am really excited to be your teacher. I’m sure that you will not just learn in our class but you will also have fun!  </p>

                      <p><strong>自我介绍：</strong>  你好，我是Eric。本人性格热情友好，喜欢打羽毛球、读书、游泳、冲浪、品尝美食、烹饪和看电影，爱好颇多，以后可以分享给你哦。我很高兴能成为你的老师。相信在我的课堂上你不仅能学好英语，还能玩的很开心，加油！</p>
                   </div>
                   <p><embed src="http://player.youku.com/player.php/sid/XNzM1Njk1NjA4/v.swf" allowfullscreen="true" quality="high" width="30%" height="200" align="middle" name="english" title="english" type="application/x-shockwave-flash" flashvars="winType=adshow&amp;isAutoPlay=false" style="visibility: visible; float:right; margin-right: 25px; margin-top:30px;" /></p>

                </div><!-- /end teacher -->

{% end %}