{% extends base-teacher.html %}

 {% block teacher-info %}

                <img src="{{ static_url('imge/Sumi.jpg') }}" class="img-thumbnail" width="32%" style="margin-top: 10px; margin-left: 20px; float:left;">

                <div class="teacher-info">
                    <h4 style="color:#09F; margin-left:20px; margin-top:20px;"><strong>Sumi</strong> | 菲律宾老师（Philippine）</h4>
                    <p><strong>Introdution:</strong>Hi! I am Teacher Sumi! I have been teaching ESL for seven years. I enjoy talking to different people and learning from them as well. When I have free time, I like reading romance novels from wattpad, visiting blogs related to fashion, chatting with friends, and watching movies and TV series. One of my dreams is to travel the world and explore different cultures... I hope to see you in class. I'm sure we'll have fun learning together!</p>
                    <p><strong>自我介绍：</strong>嗨！我是Sumi，7年来我一直教授非母语英语课程。我喜欢和不同的人交流，也喜欢向他们学习。空闲时间，我喜欢从wattpad（一家手机电子书公司）上读浪漫小说，在博客上关注最新时尚,与朋友聊天,看电影和电视剧。我的梦想之一是环游世界以及探索不同的文化…期待在课堂上见到你。相信我们一定会一起快乐学习的!</p>
                </div>
                <p><embed src="http://player.youku.com/player.php/sid/XNzIyMTMwOTEy/v.swf" allowfullscreen="true" quality="high" width="32%" height="220" align="middle" name="english" title="english" type="application/x-shockwave-flash" flashvars="winType=adshow&amp;isAutoPlay=false" style="visibility: visible; float:left; margin-left: 20px; margin-top:15px;" /></p>

                <!-- /end teacher-info -->
{% end %}