{% extends base-teacher.html %}
{% block teacher-info %}

<div class="teacher">
                   <div class="teacher-info">
                      <h4 style="margin-top:20px;">基本资料|Personal Information</h4>
                      <div class="line"></div>
                      <img src="{{static_url('imge/Alexa.jpg')}}" class="img-thumbnail" width="22%" style="margin-left:20px; float:left; margin-top:25px;">
                      <p><strong>姓名: </strong>Alexa Andrea Cerdenia               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <strong>昵称：</strong>Alexa</p>
                      <p><strong>教师证书：</strong>TESL &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <strong>教学经验：</strong>4年</p>
                      <p><strong>擅长人群：</strong>少儿、青少儿、成人</p>
                      <p><strong>擅长级别：</strong>入门级、基础级、进阶级、中高级、高级</p>
                      <p><strong>兴趣爱好：</strong>阅读，写作，制作手工制品，和朋友们一起出去玩</p>
                   </div><!-- /end teacher-info -->
                   <h4 style="margin-top:40px;">自我介绍|Introdution</h4>

                   <div class="line"></div>

                   <div class="teacher-intro" >

                      <p><strong>Introdution:</strong>Teacher Alexa. I’ve been teaching English as Second Language to children and adults for over four years. I love English and I enjoy teaching it in an easy and fun way! I love reading books and hanging out with my friends in my free time. I’m looking forward to meet you! Come and let’s have fun studying English together!
</p>
                      <p><strong>自我介绍：</strong> 大家好！我是Alexa。我教授儿童和成人英语（作为第二语言）已经有四年多了。我喜欢英语，更喜欢用简单有趣的方式来教授英语。空闲时间，我喜欢看书，喜欢和朋友们一起出去玩。很期待与你见面的！来吧，让我们一起快乐学习英语吧。</p>
                   </div>
                   <p><embed src="http://player.youku.com/player.php/sid/XNzI1NDI2Mjgw/v.swf" allowfullscreen="true" quality="high" width="30%" height="200" align="middle" name="english" title="english" type="application/x-shockwave-flash" flashvars="winType=adshow&amp;isAutoPlay=false" style="visibility: visible; float:right; margin-right: 25px; margin-top:30px;" /></p>

                </div><!-- /end teacher -->
{% end %}