{% extends base-teacher.html %}
 {% block teacher-info %}
                       <div class="teacher">
                   <div class="teacher-info">
                      <h4 style="margin-top:20px;">基本资料|Personal Information</h4>
                      <div class="line"></div>
                      <img src="{{static_url('imge/angel.gif')}}" class="img-thumbnail" width="22%" style="margin-left:20px; float:left; margin-top:25px;">
                      <p><strong>姓名: </strong>Angle             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <strong>昵称：</strong>Angle</p>
                      <p><strong>教师证书：</strong>TOEIC &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <strong>教学经验：</strong>2年</p>
                      <p><strong>擅长人群：</strong>少儿、青少儿、成人</p>
                      <p><strong>擅长级别：</strong>入门级、基础级、进阶级</p>
                      <p><strong>兴趣爱好：</strong>看书、画画、看电视，认识新朋友，网上冲浪，和朋友们网上聊天</p>
                   </div><!-- /end teacher-info -->
                   <h4 style="margin-top:40px;">自我介绍|Introdution</h4>

                   <div class="line"></div>

                   <div class="teacher-intro" >

                      <p><strong>Introdution:：</strong>Hi, I’m Angel. Most of the time, I’m at work, but during my free time, I usually do a lot of things. My hobbies are reading, drawing, watching TV and sometimes hanging out with friends. I like knowing people. I also love surfing the internet and chatting with my online friends. However, if my friends aren’t available, I usually spend time with my nephews. There are also times that I just hang out alone, but I prefer being with people mosttime.  I’m very excited to get to know you. I’m looking forward to being your teacher. I hope to meet you soon.</p>

                      <p><strong>自我介绍：</strong> 你好！我是Angel。大多数时间，我都在工作。但是业余时间，我会做很多事情。我的爱好是看书，画画，看电视，有时也和朋友们闲逛。我喜欢认识新的朋友，也喜欢网上冲浪，和朋友们网络聊天。不过，当我的朋友们没有时间时，我通常和我的侄子玩。有时候我也会独自出去逛，不过大多数时间，我还是喜欢和朋友们在一起。期待认识你，期待成为你的老师！</p>
                   </div>
                   <p><embed src="http://player.youku.com/player.php/sid/XNzIyMTMxNTk2/v.swf" allowfullscreen="true" quality="high" width="30%" height="200" align="middle" name="english" title="english" type="application/x-shockwave-flash" flashvars="winType=adshow&amp;isAutoPlay=false" style="visibility: visible; float:right; margin-right: 25px; margin-top:30px;" /></p>

                </div><!-- /end teacher -->
{% end %}