{% extends base-teacher.html %}

 {% block teacher-info %}
<img src="{{ static_url('imge/Loralyn.jpg')}}" class="img-thumbnail" width="32%" style="margin-top: 10px; margin-left: 20px; float:left;">

<div class="teacher-info">
    <h4 style="color:#09F; margin-left:20px; margin-top:20px;"><strong>Loralyn</strong> | 菲律宾老师（Philippine）</h4>
    <p><strong>Introdution:</strong>Hi! Happy Monday! I am Teacher Lora and I am 22 years old.  I am from the Phillippines. My passion is teaching that’s why I took up Education as my course. I love to see my students when they are having fun while learning in my class. I like reading books, watching TV, surfing on the internet, and hanging with my friends if we have time.  Hopefully, I can meet you in my class. Have a nice day！ </p>
    <p><strong>自我介绍：</strong>　　嗨！天天开心！我是Lora老师我今年22岁。我来自菲律宾。我选择教育的原因是我的热情源自于教学。那我喜欢看到我的学生在我的课堂上愉快的学习的样子。我喜欢读书,看电视,网上冲浪,有空闲时间的时候,会和朋友们小聚。希望我可以在我的课堂上见到你噢。祝你开心快乐！</p>
</div>
<p><embed src="http://player.youku.com/player.php/sid/XNzIyMTMyMTI0/v.swf" allowfullscreen="true" quality="high" width="32%" height="220" align="middle" name="english" title="english" type="application/x-shockwave-flash" flashvars="winType=adshow&amp;isAutoPlay=false" style="visibility: visible; float:left; margin-left: 20px; margin-top:15px;" /></p>

<!-- /end teacher-info -->
{% end %}