                   {% extends base-teacher.html %}

 {% block teacher-info %}

                <img src="{{ static_url('imge/Claudine.jpg')}}" class="img-thumbnail" width="32%" style="margin-top: 10px; margin-left: 20px; float:left;">

                <div class="teacher-info">
                    <h4 style="color:#09F; margin-left:20px; margin-top:20px;"><strong>Claudine</strong> | 菲律宾老师（Philippine）</h4>
                    <p><strong>Introdution:</strong>Hello.  My name is Claudine Meneses or Claude for short.  I am 33 years old.  I graduated from the Philippine School of Business Administration and later on took my education units in a local college.  I am a simple person.  I take joy in little, everyday things like watching English movies (except horror films), playing with my children and laughing with my friends.  I guess that's what life is all about...doing things that you enjoy and being with the people you love.So here I am to tell you that I'd be teaching for the rest of my life.  I'm here to help you because that's what I love to do. </p>
                    <p><strong>自我介绍：</strong>大家好！我的名字是Claudine Meneses简称Claude。我今年33岁，毕业于菲律宾工商管理学院，随后在当地一所大学做教育工作。我是一个简单的人。我的爱好是每天看英文电影(恐怖片除外)，和我的孩子们一起玩耍，和我的朋友们一起说笑。我想这就是人生：做自己喜欢的事情，和自己爱的人在一起。我是用我的生命在教学。活到老，教到老！和你一起学习，这是我喜欢做的事情。</p>

                </div>
                <p><embed src="http://player.youku.com/player.php/sid/XNzIyMTMxOTE2/v.swf" allowfullscreen="true" quality="high" width="32%" height="220" align="middle" name="english" title="english" type="application/x-shockwave-flash" flashvars="winType=adshow&amp;isAutoPlay=false" style="visibility: visible; float:left; margin-left: 20px; margin-top:15px;" /></p>

                <!-- /end teacher-info -->
{% end %}