{% extends base-teacher.html %}

 {% block teacher-info %}
                <img src="{{static_url('imge/Josemaria Espinosa.jpg') }}" class="img-thumbnail" width="32%" style="margin-top: 10px; margin-left: 20px; float:left;">

                <div class="teacher-info">
                    <h4 style="color:#09F; margin-left:20px; margin-top:20px;"><strong>Josemaria</strong> | 菲律宾老师（Philippine）</h4>
                    <p><strong>Introdution:</strong>Hi, I’m Jom, 25 years old and a jolly teacher. I like playing basketball and doing fun stuff; watching action movies too. I’m looking forward to having a class. I’m very excited to meet you. I will make sure that you learn a lot from me.  </p>
                    <p><strong>自我介绍：</strong>大家好! 我是Jom，今年25岁，是一个非常欢乐的老师哦。我喜欢打篮球、自制有趣的东西、看动作片。我期待能上课，期待与你的见面。我保证你能从我这学到很多哦。</p>
                    
                </div>
                <p><embed src="http://player.youku.com/player.php/sid/XNjYyOTAxMDQ4/v.swf" allowfullscreen="true" quality="high" width="32%" height="220" align="middle" name="english" title="english" type="application/x-shockwave-flash" flashvars="winType=adshow&amp;isAutoPlay=false" style="visibility: visible; float:left; margin-left: 20px; margin-top:15px;" /></p>

                <!-- /end teacher-info -->

            {% end %}