{% extends base-teacher.html %}

{% block teacher-info %}

                <div class="teacher">
                   <div class="teacher-info">
                      <h4 style="margin-top:20px;">基本资料|Personal Information</h4>
                      <div class="line"></div>
                      <img src="{{static_url('imge/Loralyn.jpg')}}" class="img-thumbnail" width="22%" style="margin-left:20px; float:left; margin-top:25px;">
                      <p><strong>姓名: </strong> Loralyn R. Castillo             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <strong>昵称：</strong>Lora</p>
                      <p><strong>教师证书：</strong>TESL &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <strong>教学经验：</strong>2年</p>
                      <p><strong>擅长人群：</strong>少儿、青少儿</p>
                      <p><strong>擅长级别：</strong>入门级、基础级</p>
                      <p><strong>兴趣爱好：</strong>看书，看电影，网上冲浪</p>
                   </div><!-- /end teacher-info -->
                   <h4 style="margin-top:40px;">自我介绍|Introdution</h4>

                   <div class="line"></div>

                   <div class="teacher-intro" >

                      <p><strong>Introdution:</strong>Hi! Happy Monday! I am Teacher Lora .  My passion is teaching that’s why I took up Education as my course. I love to see my students when they are having fun while learning in my class. I like reading books, watching TV, surfing on the internet, and hanging with my friends if we have time.  Hopefully, I can meet you in my class. Have a nice day！</p>
                      <p><strong>自我介绍：</strong> 嗨！天天开心！我是Lora老师。我选择教育的原因是我的热情源自于教学。我喜欢看到我的学生在我的课堂上愉快的学习的样子。我喜欢看书，看电视，网上冲浪。有空闲时，会和朋友们小聚。希望我可以在我的课堂上见到你噢。祝你开心快乐！</p>
                   </div>
                   <p><embed src="http://player.youku.com/player.php/sid/XNzIyMTMyMTI0/v.swf" allowfullscreen="true" quality="high" width="30%" height="200" align="middle" name="english" title="english" type="application/x-shockwave-flash" flashvars="winType=adshow&amp;isAutoPlay=false" style="visibility: visible; float:right; margin-right: 25px; margin-top:30px;" /></p>

                </div><!-- /end teacher -->


{% end %}