{% extends base-teacher.html %}
 {% block teacher-info %}
                <img src="{{ static_url('imge/Angel.jpg')}}" class="img-thumbnail" width="32%" style="margin-top: 10px; margin-left: 20px; float:left;">

                <div class="teacher-info">
                    <h4 style="color:#09F; margin-left:20px; margin-top:20px;"><strong>Angle</strong> | 菲律宾老师（Philippine）</h4>
                    <p><strong>Introdution:</strong>Hi, I’m Angel. I’m 24 years old. I’m from the Philippines. Most of the time, I’m at work, but during my free time, I usually do a lot of things. My hobbies are reading, drawing, watching TV and sometimes hanging out with friends. I like knowing people. I also love surfing the internet and chatting with my online friends. However, if myfriends aren’t available, I usually spend time with my nephews. There are also times that I just hang out alone, but I prefer being with people most of the time.  I’m very excitedto get to know you. I’m looking forward to being your teacher. I hope to meet you soon.</p>
                    <p><strong>自我介绍：</strong>你好！我是Angel，今年24岁。我来自菲律宾。大多数时间，我都在工作。但是业余时间，我会做很多事情。我的爱好是看书，画画，看电视，有时也和朋友们闲逛。我喜欢认识新的朋友，也喜欢网上冲浪，和朋友们网络聊天。不过，当我的朋友们没有时间时，我通常和我的侄子玩。有时候我也会独自出去逛，不过大多数时间，我还是喜欢和朋友们在一起。期待认识你，期待成为你的老师！</p>

                </div>
                <p><embed src="http://player.youku.com/player.php/sid/XNzIyMTMxNTk2/v.swf" allowfullscreen="true" quality="high" width="32%" height="220" align="middle" name="english" title="english" type="application/x-shockwave-flash" flashvars="winType=adshow&amp;isAutoPlay=false" style="visibility: visible; float:left; margin-left: 20px; margin-top:15px;" /></p>
{% end %}