                   {% extends base-teacher.html %}

 {% block teacher-info %}

                <div class="teacher">
                   <div class="teacher-info">
                      <h4 style="margin-top:20px;">基本资料|Personal Information</h4>
                      <div class="line"></div>
                      <img src="{{static_url('imge/Aissa.jpg')}}" class="img-thumbnail" width="22%" style="margin-left:20px; float:left; margin-top:25px;">
                      <p><strong>姓名: </strong>Anna Clarissa F. Nelson            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <strong>昵称：</strong>Anna</p>
                      <p><strong>教师证书：</strong>TESL &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <strong>教学经验：</strong>5年</p>
                      <p><strong>擅长人群：</strong>少儿、青少儿、成人</p>
                      <p><strong>擅长级别：</strong>基础级、进阶级</p>
                      <p><strong>兴趣爱好：</strong>唱歌、烹饪、弹吉他</p>
                   </div><!-- /end teacher-info -->
                   <h4 style="margin-top:40px;">自我介绍|Introdution</h4>

                   <div class="line"></div>

                   <div class="teacher-intro" >

                      <p><strong>Introdution:</strong>Hi I’m Aissa Nelson but you can call me teacher Anna.  I’m interested in cooking different food and I love playing the guitar on my free time.  Teaching different level of students is also one of my passions. I can’t wait to see you in my class because I’m sure that you will learn while having fun. </p>

                      <p><strong>自我介绍：</strong> 大家好，我是Anna老师，很高兴认识大家。我平时喜欢烹饪各种食物和弹吉他，另外，特别喜欢教不同年龄的学生。现在有点等不及想和大家见面了，因为我相信你们一定能在我的课堂学得很开心。快点加入我们吧！</p>
                   </div>
                   <p><embed src="http://player.youku.com/player.php/sid/XNzM1NzUwNDI0/v.swf" allowfullscreen="true" quality="high" width="30%" height="200" align="middle" name="english" title="english" type="application/x-shockwave-flash" flashvars="winType=adshow&amp;isAutoPlay=false" style="visibility: visible; float:right; margin-right: 25px; margin-top:30px;" /></p>

                </div><!-- /end teacher -->

{% end %}