{% extends base-teacher.html %}
{% block teacher-info %}

<div class="teacher">
                   <div class="teacher-info">
                      <h4 style="margin-top:20px;">基本资料|Personal Information</h4>
                      <div class="line"></div>
                      <img src="{{static_url('imge/Meca.jpg')}}" class="img-thumbnail" width="22%" style="margin-left:20px; float:left; margin-top:25px;">
                      <p><strong>姓名: </strong>Meca Edith Garado               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <strong>昵称：</strong>Meca</p>
                      <p><strong>教师证书：</strong>TESL &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <strong>教学经验：</strong>2年</p>
                      <p><strong>擅长人群：</strong>成人和少儿</p>
                      <p><strong>擅长级别：</strong>入门级</p>
                      <p><strong>兴趣爱好：</strong>听音乐，唱歌，网上冲浪，阅读</p>
                   </div><!-- /end teacher-info -->
                   <h4 style="margin-top:40px;">自我介绍|Introdution</h4>

                   <div class="line"></div>

                   <div class="teacher-intro" >

                      <p><strong>Introdution:</strong>Hi! My name’s Teacher Meca. I’ve been in the teaching industry for 2 years now. Being a Teacher has been a childhood dream and I have passion for Teaching, especially children because I believe that education is one of the best treasures a person can have. I enjoy reading books and writing stories and poems. I’m also into music as I love singing. I love being around people and learning different cultures. I hope to see you in class!</p>
                      <p><strong>自我介绍：</strong> 嗨，我是Meca老师。我从事教学工作两年了。成为一名老师是我儿时的梦想，我对教学充满了热情，尤其是儿童教学，因为我相信教育是一个人可以拥有的最好的财富。我喜欢阅读，喜欢写小说和诗。我也喜欢音乐，喜欢唱歌。我喜欢与人交流，可以学习不同的文化。期待与你见面哦！</p>
                   </div>
                   <p><embed src="http://player.youku.com/player.php/sid/XNzI1NDI2ODYw/v.swf" allowfullscreen="true" quality="high" width="30%" height="200" align="middle" name="english" title="english" type="application/x-shockwave-flash" flashvars="winType=adshow&amp;isAutoPlay=false" style="visibility: visible; float:right; margin-right: 25px; margin-top:30px;" /></p>

                </div><!-- /end teacher -->
{% end %}