                   {% extends base-teacher.html %}

 {% block teacher-info %}

                   <div class="teacher">
                   <div class="teacher-info">
                      <h4 style="margin-top:20px;">基本资料|Personal Information</h4>
                      <div class="line"></div>
                      <img src="{{static_url('imge/Claudine.gif')}}" class="img-thumbnail" width="22%" style="margin-left:20px; float:left; margin-top:25px;">
                      <p><strong>姓名: </strong>Claudine Meneses             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <strong>昵称：</strong>Claudine</p>
                      <p><strong>教师证书：</strong>TESL &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <strong>教学经验：</strong>7年</p>
                      <p><strong>擅长人群：</strong>成人和少儿</p>
                      <p><strong>擅长级别：</strong>入门级、中高级</p>
                      <p><strong>兴趣爱好：</strong>每天看英文电影，和孩子们一起玩耍、和朋友们一起说笑</p>
                   </div><!-- /end teacher-info -->
                   <h4 style="margin-top:40px;">自我介绍|Introdution</h4>

                   <div class="line"></div>

                   <div class="teacher-intro" >

                      <p><strong>Introdution:：</strong>Hello.  My name is Claudine Meneses or Claude for short. I am a simple person.  I take joy in little, everyday things like watching English movies (except horror films), playing with my children and laughing with my friends.  I guess that's what life is all about...doing things that you enjoy and being with the people you love.So here I am to tell you that I'd be teaching for the rest of my life.  I see myself teaching until I grow old. I'm here to help you because that's what I love to do.
Goodbye and have a nice day.</p>

                      <p><strong>自我介绍：</strong>你好！我的名字是Claudine Meneses，简称Claude。我是一个简单的人。我的爱好是每天看英文电影（恐怖片除外），和我的孩子们一起玩耍，和我的朋友们一起说笑。我想这就是人生：做自己喜欢的事情，和自己爱的人在一起。所以说，我的余生都将在教学中度过。我是用我的生命在教学。活到老，教到老！和你一起学习，这是我喜欢做的事情。</p>
                   </div>
                   <p><embed src="http://player.youku.com/player.php/sid/XNzIyMTMxOTE2/v.swf" allowfullscreen="true" quality="high" width="30%" height="200" align="middle" name="english" title="english" type="application/x-shockwave-flash" flashvars="winType=adshow&amp;isAutoPlay=false" style="visibility: visible; float:right; margin-right: 25px; margin-top:30px;" /></p>

                </div><!-- /end teacher -->
{% end %}