1{% extends base-teacher.html %}
{% block teacher-info %}

<div class="teacher">
                   <div class="teacher-info">
                      <h4 style="margin-top:20px;">基本资料|Personal Information</h4>
                      <div class="line"></div>
                      <img src="{{static_url('imge/Janice.jpg')}}" class="img-thumbnail" width="22%" style="margin-left:20px; float:left; margin-top:25px;">
                      <p><strong>姓名: </strong>Janice T. Diaz &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <strong>昵称：</strong>Jah</p>
                      <p><strong>教师证书：</strong>TESOL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <strong>教学经验：</strong>8年</p>
                      <p><strong>擅长人群：</strong>成年和少儿</p>
                      <p><strong>擅长级别：</strong>入门级、中高级</p>
                      <p><strong>兴趣爱好：</strong>看好莱坞大片、旅行、打乒乓球、听音乐、看书</p>
                   </div><!-- /end teacher-info -->
                   <h4 style="margin-top:40px;">自我介绍|Introdution</h4>

                   <div class="line"></div>

                   <div class="teacher-intro" >

                      <p><strong>Introdution:：</strong>Hi, I’m Teacher Janice. You may also call me Teacher “Jah”.  I have been teaching online for almost six years. I have experienced teaching kids and I love it. I enjoy a lot of things because I am an outgoing person. My hobbies are playing sports, reading, writing, and watching movies.  I hope to meet you in my class. Let us enjoy and learn! </p>
                      <p><strong>自我介绍：</strong>   嗨，我是Janice，你也可以叫我Jah。我从事在线教学将近6年时间了。我有丰富的儿童教学经验，而且我很喜欢这项工作。我是一个外向的人，我有很多喜欢的东西。我的爱好有体育运动、阅读、写作、看电影。很期待在我的课堂见到你。让我们一起享受学习吧。</p>
                   </div>
                   <p><embed src="http://player.youku.com/player.php/sid/XNzI1NDI2NTMy/v.swf" allowfullscreen="true" quality="high" width="30%" height="200" align="middle" name="english" title="english" type="application/x-shockwave-flash" flashvars="winType=adshow&amp;isAutoPlay=false" style="visibility: visible; float:right; margin-right: 25px; margin-top:30px;" /></p>

                </div><!-- /end teacher -->
{% end %}