                   {% extends base-teacher.html %}

 {% block teacher-info %}

                <div class="teacher">
                   <div class="teacher-info">
                      <h4 style="margin-top:20px;">基本资料|Personal Information</h4>
                      <div class="line"></div>
                      <img src="{{static_url('imge/Esa.jpg')}}" class="img-thumbnail" width="22%" style="margin-left:20px; float:left; margin-top:25px;">
                      <p><strong>姓名: </strong>Noresa V. Tocmo  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <strong>昵称：</strong>Esa</p>
                      <p><strong>教师证书：</strong>TESL &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <strong>教学经验：</strong>4年</p>
                      <p><strong>擅长人群：</strong>少儿、青少儿、成人</p>
                      <p><strong>擅长级别：</strong>入门级、基础级、中高级、高级、专家级</p>
                      <p><strong>兴趣爱好：</strong>阅读、烹饪、旅游、看电影</p>
                   </div><!-- /end teacher-info -->
                   <h4 style="margin-top:40px;">自我介绍|Introdution</h4>

                   <div class="line"></div>

                   <div class="teacher-intro" >

                      <p><strong>Introdution:</strong>Hello! My name is Teacher Esa. I've been teaching English as Second Language for 4 years.Being a teacher is a dream come true for me. I really wanted to be a teacher because it's a noble job and it makes me happy when I see my students learn something from me. I'm the type of teacher who creates a friendly environment, facilitates learning, and I also listen to what my students have to say. I'll make sure that our class will be full of learning and it'll be fun at the same time. Can't wait to talk to you! ^_^</p>

                      <p><strong>自我介绍：</strong> 大家好，我是Esa老师，有四年的英语教学经验。成为一名老师是我一直以来的梦想，因为教师是神圣的，并且教授学生也是很有趣的。另外，我的课堂氛围特别活跃，有各种辅助教具。我还喜欢聆听学生的心声，和他们交朋友。相信寓教于乐的课堂一定很吸引你，快来吧，我等你哦！ ^_^</p>
                   </div>
                   <p><embed src="http://player.youku.com/player.php/sid/XNzM1ODA2Mjg4/v.swf" allowfullscreen="true" quality="high" width="30%" height="200" align="middle" name="english" title="english" type="application/x-shockwave-flash" flashvars="winType=adshow&amp;isAutoPlay=false" style="visibility: visible; float:right; margin-right: 25px; margin-top:30px;" /></p>

                </div><!-- /end teacher -->

{% end %}