{% extends base-teacher.html %}
{% block teacher-info %}

                <div class="teacher">
                   <div class="teacher-info">
                      <h4 style="margin-top:20px;">基本资料|Personal Information</h4>
                      <div class="line"></div>
                      <img src="{{static_url('imge/Mitch.jpg')}}" class="img-thumbnail" width="22%" style="margin-left:20px; float:left; margin-top:25px;">
                      <p><strong>姓名: </strong>Michel R. Cuaresma            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <strong>昵称：</strong>Mitch</p>
                      <p><strong>教师证书：</strong>TESL   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <strong>教学经验：</strong>4年</p>
                      <p><strong>擅长人群：</strong>成人、少儿</p>
                      <p><strong>擅长级别：</strong>基础级、进阶级</p>
                      <p><strong>兴趣爱好：</strong>喜欢看书；喜欢在线看电影，尤其是悬疑电影；喜欢旅行；喜欢美食；喜欢聊天</p>
                   </div><!-- /end teacher-info -->
                   <h4 style="margin-top:40px;">自我介绍|Introdution</h4>

                   <div class="line"></div>

                   <div class="teacher-intro" >

                      <p><strong>Introdution:</strong>A pleasant day to everyone! I am Ms. Michel Cuaresma. I graduated with a degree in Secondary Education Major . I like to read books and watch movies online because I don’t have that much time to go out and drop by to the nearest movie house. I like suspense movies; in fact I’m a fan of the series “Wrong Turn”. Whenever I have a free time, I usually spend it with my family; we usually go out and spend some time to talk to each other. I like to travel; in fact I’m planning to visit a beach here. I like to eat, I like to talk, In short I love meeting new people. 
</p>

                      <p><strong>自我介绍：</strong>大家好！我是Michel。大学时，我主修中等教育专业。我喜欢看书，喜欢在线看电影，因为我没有太多时间出去，即便是最近的电影院。我喜欢悬疑电影，实际上我是“致命弯道”系列电影的粉丝哦。无论什么时候，只要我有时间，我都是和家人一起度过，我们通常是出去一起聊天。我喜欢旅行，而且我正在计划去附近的一个海滩哦。我喜欢美食，喜欢聊天 。总而言之，我就是喜欢不断地认识新的人。
</p>
                   </div>
                   <p><embed src="http://player.youku.com/player.php/sid/XNzIyMTMyMzcy /v.swf" allowfullscreen="true" quality="high" width="30%" height="200" align="middle" name="english" title="english" type="application/x-shockwave-flash" flashvars="winType=adshow&amp;isAutoPlay=false" style="visibility: visible; float:right; margin-right: 25px; margin-top:30px;" /></p>

                </div><!-- /end teacher -->
{% end %}