@charset "utf-8";
/* CSS Document */
#head{
	  height:110px;
      background:#56a7dc;
      color:#FFFFFF;

}

.logo{
	  margin-left:20px;
      margin-top:30px;
}

.logo span{
	  float:left;
}


.logo_font{
	 margin-left:20px;
     font-family:"微软雅黑","宋体","tahoma","arial";
	 padding-top:24px;
	 font-size:20px;
	 font-weight:normal;
	 text-shadow:0px 1px 1px #3f80aa;
	 float:right;
}

.bar{
	 height:45px;
	 background:#4d7ec1;
}

.bar_content{
	 height:45px;
     background:#dbe5f3;
}

.footer{
	 height:100px;
     border-top:10px solid #4d7ec1;
	 background:#56a8dc;
	 color:#FFFFFF;
	 text-align:center;

}

.footer p{
	 font-family:"微软雅黑","宋体","tahoma","arial";
     font-size:12px;
	 padding-top:20px;
}

#content{
	 min-height:760px;
}

.table th, .table td {
     text-align: center;
}

.table th{
	 font-family:"微软雅黑","宋体","tahoma","arial";
     color:#1394E1;
}

.info{
	background-color:#F8F8F8;
	 height:80px;
}

.info p{
	 font-size:14px;
	 font-family:"微软雅黑","宋体","tahoma","arial";
	 color:#4F4F4F;
	 line-height:30px;
	 margin-left:20px;
	 padding-top:10px;
	 float:left;
}

.btn-wz{
	 float:right;
	 margin-top:22px;
	 margin-right:40px;
}



#myModal{
	margin-left:250px;
	margin-top:250px;
}





