{% extends "base.html" %}
{% block location_title %}
<h4> 添加保险公司</h4>
<hr/>
{% end %}
{% block main %}
<div id="Main">
  <form class="form-horizontal" id="category-form" role="form" method="post" action="/admin/category/save">
    <div class="form-group">
      <label for="categoryName" class="col-sm-2 control-label">分类名称:</label>

      <div class="col-sm-4">
        <input type="text" class="form-control" id="categoryName" name="categoryName" placeholder="分类名称">
      </div>
    </div>

    <div class="form-group">
      <label for="description" class="col-sm-2 control-label">分类描述:</label>

      <div class="col-sm-4">
        <textarea class="form-control" id="description" name="description"
                  placeholder="分类描述" rows="4"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="parentId" class="col-sm-2 control-label">所属分类:</label>

      <div class="col-sm-4">
        <select name="parentId" id="parentId" class="form-control" placehodler="选择所属分类">
          <option value="0">不属于任何分类</option>
          {% for entry in entries %}
          <option value="{{ entry.id }}">{{ entry.category_name}}</option>
          {% end%}
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-3">&nbsp;</div>
      <div class="col-sm-3">
        <button type="submit" class="btn btn-info">保 存</button>
        &nbsp;
        <button type="reset" class="btn btn-info">重 置</button>
      </div>
    </div>
  </form>
</div> <!-- Mian -->
{% end %}


{% block extra_js %}
<script type="text/javascript">
  $(document).ready(function () {

    $('#category-form').validate(
        {
          rules: {
            categoryName: {
              minlength: 2,
              required: true
            },
            description: {
              minlength: 2,
              required: true
            }
//                        ,
//                        email: {
//                            required: true,
//                            email: true
//                        },
//                        subject: {
//                            minlength: 2,
//                            required: true
//                        },
//                        message: {
//                            minlength: 2,
//                            required: true
//                        }
          },
          highlight: function (element) {
            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
          },
          success: function (element) {
            element.text('OK!').addClass('valid')
                .closest('.form-group').removeClass('has-error').addClass('has-success');
          }
        });
  }); //
</script>
{% end %}
