{% extends "base.html" %}
{% block location_title %}
<h4> 添加产品</h4>
<hr/>
{% end %}
{% block main %}
<div id="Main">
  <form class="form-horizontal" id="insu_form" role="form" method="post" action="/insurance">
    <input type="hidden" id="pro_id" name="pro_id" value="1"/>

    <div class="form-group">
      <label for="pro_name" class="col-sm-2 control-label">产品名称:</label>

      <div class="col-sm-4">
        <input type="text" class="form-control" id="pro_name" name="pro_name" placeholder="产品名称">
      </div>
    </div>
    <div class="form-group">
      <label for="age_min" class="col-sm-2 control-label">年龄段:</label>

      <div class="col-sm-2">
        <div class="input-group">
          <input type="text" class="form-control" id="age_min" name="age_min" placeholder="最小年龄"/>

          <div class="input-group-btn">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
              天<span class="caret"></span>
            </button>
            <ul class="dropdown-menu sm-width" id="min_age_list">
              <li><a href="#">7</a></li>
              <li><a href="#">30</a></li>
              <li><a href="#">60</a></li>
              <li><a href="#">90</a></li>
              <li><a href="#">180</a></li>
              <li class="divider"></li>
              <li><a href="#">1年</a></li>
              <li><a href="#">3年</a></li>
              <li><a href="#">5年</a></li>
              <li><a href="#">10年</a></li>
              <li><a href="#">20年</a></li>
              <li><a href="#">30年</a></li>
              <li><a href="#">40年</a></li>
              <li><a href="#">50年</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="input-group">
          <input type="text" class="form-control" id="age_max" name="age_max" placeholder="最大年龄"/>
          <!-- <span class="input-group-addon">天</span> -->
          <div class="input-group-btn">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
              天<span class="caret"></span>
            </button>
            <ul class="dropdown-menu sm-width" id="max_age_list">
              <li><a href="#">7</a></li>
              <li><a href="#">30</a></li>
              <li><a href="#">60</a></li>
              <li><a href="#">90</a></li>
              <li><a href="#">180</a></li>
              <li class="divider"></li>
              <li><a href="#">1年</a></li>
              <li><a href="#">3年</a></li>
              <li><a href="#">5年</a></li>
              <li><a href="#">10年</a></li>
              <li><a href="#">20年</a></li>
              <li><a href="#">30年</a></li>
              <li><a href="#">40年</a></li>
              <li><a href="#">50年</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- age -->
    <div class="form-group">
      <label for="insu_days" class="col-sm-2 control-label">保障期间:</label>

      <div class="col-sm-4">
        <input type="text" class="form-control" id="insu_days" name="insu_days"
               placeholder="保障期间,单位为天,逗号分割，如：7,30,365"/>
      </div>
    </div>
    <div class="form-group">
      <label for="clause" class="col-sm-2 control-label">条款/保额:</label>

      <div class="col-sm-3">
        <div class="input-group">
          <div class="input-group-btn">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
              条款<span class="caret"></span>
            </button>
            <ul class="dropdown-menu sm-width" id="clause_list">
              <li><a href="#">航空</a></li>
              <li><a href="#">火车</a></li>
              <li><a href="#">航空意外</a></li>
              <li><a href="#">火车意外</a></li>
              <li class="divider"></li>
              <li><a href="#">汽车</a></li>
              <li><a href="#">轮船</a></li>
            </ul>
          </div>
          <input type="text" class="form-control" id="clause" name="clause"/>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="input-group">
          <div class="input-group-btn">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
              保额<span class="caret"></span>
            </button>
            <ul class="dropdown-menu sm-width" id="limit_list">
              <li><a href="#">5000</a></li>
              <li><a href="#">10000</a></li>
              <li><a href="#">100000</a></li>
              <li><a href="#">200000</a></li>
              <li><a href="#">300000</a></li>
              <li><a href="#">400000</a></li>
              <li><a href="#">500000</a></li>
              <li class="divider"></li>
              <li><a href="#">600000</a></li>
              <li><a href="#">700000</a></li>
            </ul>
          </div>
          <input type="text" class="form-control" id="limits" name="limits"/>
        </div>
      </div>
      <div class="col-sm-1">
        <button type="button" class="btn btn-info" onclick="generate()">生成</button>
      </div>
    </div>
    <!-- clause_limit -->

    <div class="form-group">
      <div class="col-sm-2">&nbsp;</div>
      <div class="col-sm-4">
        <textarea class="form-control" rows="2" id="clause_limit" name="clause_limit"
                  placeholder="航空:30万,火车10万"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="desc" class="col-sm-2 control-label">描&nbsp;&nbsp;述:</label>

      <div class="col-sm-4">
        <textarea class="form-control" rows="2" id="desc" name="description" placeholder="产品描述"></textarea>
      </div>
    </div>
    <!-- description -->
    <div class="form-group">
      <label for="tags" class="col-sm-2 control-label">标&nbsp;&nbsp;签:</label>

      <div class="col-sm-4">
        <div class="input-group">
          <div class="input-group-btn">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
              Tags<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="tags_list">
              <li><a href="#">高保额</a></li>
              <li><a href="#">高风险运动</a></li>
              <li><a href="#">高保障</a></li>
            </ul>
            <textarea class="form-control" style="display:none" rows="2" id="tags" name="tags"
                      placeholder="按逗号分割的标签"></textarea>
          </div>
        </div>
      </div>
    </div>
    <!-- tags -->
    <div class="form-group">
      <div class="col-sm-3">&nbsp;</div>
      <div class="col-sm-3">
        <button type="submit" class="btn btn-info">保 存</button>
        &nbsp;
        <button type="resut" class="btn btn-info">重 置</button>
      </div>
    </div>
  </form>
</div> <!-- Mian -->
{% end %}
