{% extends "base.html" %}
{% block location_title %}
<h4> 添加产品</h4>
{% end %}
{% block main %}
<div id="Main">
<form class="form-horizontal" id="insu-form" role="form" method="post" action="/admin/insurance/">
<div class="form-group">
  <div class="form-inline">
    <label for="proName" class="col-sm-2 control-label">产品名称:</label>

    <div class="col-sm-2">
      <input type="text" class="form-control" id="proName" name="proName" placeholder="产品名称">
    </div>

  </div>

  <div class="form-inline">
    <label for="companyId" class="col-sm-2 control-label">保险公司:</label>

    <div class="col-sm-2">
      <select name="companyId" id="companyId" class="form-control" placehodler="选择保险公司">
        <option value=""></option>
        {% for entry in companies %}
        <option value="{{ entry.id }}">{{ entry.company_name}}</option>
        {% end%}
      </select>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="form-inline">
    <label for="categoryId" class="col-sm-2 control-label">保险分类:</label>

    <div class="col-sm-2">
      <select name="categoryId" id="categoryId" class="form-control" placehodler="选择所属分类">
        <option value=""></option>
        {% for entry in categories %}
        <option value="{{ entry.id }}">{{ entry.category_name}}</option>
        {% end%}
      </select>
    </div>
  </div>
  <div class="form-inline">
    <label for="notice" class="col-sm-2 control-label">重要告知:</label>

    <div class="col-sm-2">
      <textarea class="form-control" rows="1" id="notice" name="notice" placeholder="重要告知"></textarea>
    </div>
  </div>
  <!-- 重要告知 -->
</div>
<div class="form-group">
  <label for="minAge" class="col-sm-2 control-label">最小年龄:</label>

  <div class="col-sm-2">
    <div class="input-group">
      <input type="text" class="form-control" id="minAge" name="minAge" placeholder="最小年龄"/>

      <!-- <div class="input-group-btn">
          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
              天<span class="caret"></span>
          </button>
          <ul class="dropdown-menu sm-width" id="min_age_list">
              <li><a href="#">7</a></li>
              <li><a href="#">30</a></li>
              <li><a href="#">60</a></li>
              <li><a href="#">90</a></li>
              <li><a href="#">180</a></li>
              <li class="divider"></li>
              <li><a href="#">1岁</a></li>
              <li><a href="#">3岁</a></li>
              <li><a href="#">5岁</a></li>
              <li><a href="#">10岁</a></li>
              <li><a href="#">20岁</a></li>
              <li><a href="#">30岁</a></li>
              <li><a href="#">40岁</a></li>
              <li><a href="#">50岁</a></li>
              <li><a href="#">60岁</a></li>
              <li><a href="#">70岁</a></li>
              <li><a href="#">80岁</a></li>
          </ul>
      </div> -->
    </div>
  </div>
  <label for="minAge" class="col-sm-2 control-label">最大年龄:</label>

  <div class="col-sm-2">
    <div class="input-group">

      <input type="text" class="form-control" id="maxAge" name="maxAge" placeholder="最大年龄"/>
      <!-- <span class="input-group-addon">天</span> -->
      <!--                    <div class="input-group-btn">
                             <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                 天<span class="caret"></span>
                             </button>
                             <ul class="dropdown-menu sm-width" id="max_age_list">
                                 <li><a href="#">7</a></li>
                                 <li><a href="#">30</a></li>
                                 <li><a href="#">60</a></li>
                                 <li><a href="#">90</a></li>
                                 <li><a href="#">180</a></li>
                                 <li class="divider"></li>
                                 <li><a href="#">1岁</a></li>
                                 <li><a href="#">3岁</a></li>
                                 <li><a href="#">5岁</a></li>
                                 <li><a href="#">10岁</a></li>
                                 <li><a href="#">20岁</a></li>
                                 <li><a href="#">30岁</a></li>
                                 <li><a href="#">40岁</a></li>
                                 <li><a href="#">50岁</a></li>
                                 <li><a href="#">60岁</a></li>
                                 <li><a href="#">70岁</a></li>
                                 <li><a href="#">80岁</a></li>
                             </ul>
                         </div> -->
    </div>
  </div>
</div>
<div class="form-group">
  <div class="form-inline">
    <label for="desc" class="col-sm-2 control-label">描&nbsp;&nbsp;述:</label>

    <div class="col-sm-2">
      <textarea class="form-control" rows="2" id="desc" name="description" placeholder="产品描述"></textarea>
    </div>
  </div>
  <!-- description -->

  <div class="form-inline">
    <label for="example" class="col-sm-2 control-label">投保案例:</label>

    <div class="col-sm-2">
      <textarea class="form-control" rows="2" id="example" name="example" placeholder="投保案例"></textarea>
    </div>
  </div>
  <!-- 投保案例 -->
</div>
<div class="form-group">
  <div class="form-inline">
    <label for="price" class="col-sm-2 control-label">固定产品价格:</label>

    <div class="col-sm-2">
      <input type="number" class="form-control" id="price" name="price" min="0" placeholder="固定产品价格">
    </div>
  </div>
  <!--固定产品价格-->
  <div class="form-inline">
    <label for="salesVolume" class="col-sm-2 control-label">销量:</label>

    <div class="col-sm-2">
      <input type="number" class="form-control" id="salesVolume" name="salesVolume" min="0" placeholder="销量">
    </div>
  </div>
</div>
<div class="form-group">
  <div class="form-inline">
    <label for="buyCount" class="col-sm-2 control-label">可购买份数:</label>

    <div class="col-sm-2">
      <input type="number" class="form-control" id="buyCount" name="buyCount" min="0" placeholder="可购买份数">
    </div>
  </div>
  <div class="form-inline">
    <label for="suitable" class="col-sm-2 control-label">适合人群:</label>

    <div class="col-sm-2">
      <input type="text" class="form-control" id="suitable" name="suitable" placeholder="适合人群">
    </div>
  </div>
</div>
<!-- tags -->
<div class="form-group">
  <label class="col-sm-2 control-label">标签:</label>

  <div class="col-sm-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        {% if len(tags) <= 5 %}
        {% for t in tags %}
        <label class="checkbox-inline">
          <input type="checkbox" name="tags" type="checkbox" value="{{ t.tag_name }}">{{ t.tag_name }}
        </label>
        {% end %}
        {% else %}
        {% for t in tags[0:5] %}
        <label class="checkbox-inline">
          <input type="checkbox" name="tags" type="checkbox" value="{{ t.tag_name }}">{{ t.tag_name }}
        </label>
        {% end %}
        <label class="checkbox-inline">
          <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#tags_collapse">
            展开/关闭
          </a>
        </label>
        {% end %}
      </div>
      <div id="tags_collapse" class="panel-collapse collapse fade">
        <div id="tags_collapse_body" class="panel-body">
          {% if len(tags) > 5 %}
          {% for t in tags[5:] %}
          <label class="checkbox-inline">
            <input type="checkbox" name="tags" type="checkbox" value="{{ t.tag_name }}">{{ t.tag_name }}
          </label>
          {% end %}
          {% end %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- tags -->
<div class="form-group">
  <div class="form-inline">
    <label for="fileupload" class="col-sm-2 control-label">上传图片:</label>

    <div class="col-sm-4">
                     <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files...</span>
                        <input id="fileupload" type="file" name="uploadName" multiple>
                    </span>
      <span class="label label-danger" id="fileupload-tip"></span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-6" id="list-upload">
  </div>
</div>
<div class="form-group">
  <div class="col-sm-3">&nbsp;</div>
  <div class="col-sm-3">
    <button type="submit" class="btn btn-info">保 存</button>
    &nbsp;
    <button type="reset" class="btn btn-info">重 置</button>
  </div>
</div>
</form>
</div> <!-- Mian -->
{% end %}

{% block extra_js %}
<script src="{{ static_url('js/jquery.ui.widget.js') }}"></script>
<script src="{{ static_url('js/jquery.iframe-transport.js') }}"></script>
<script src="{{ static_url('js/jquery.fileupload.js') }}"></script>
<script type="text/javascript">

  $(function () {
    $('#fileupload').fileupload({
//        dataType: 'json',
      url: "/admin/upload",
      add: function (e, data) {
        $("#fileupload-tip").empty()
        if (!isImage(data.files[0].name)) {
          $("#fileupload-tip").html("Not regular image type")
          return
        }
        if (data.files[0].size > 100000) {  //max 1MB
          $("#fileupload-tip").html("file too large max size=1MB")
          return
        }
        data.context = $('<button/>').addClass('btn btn-primary').text('Upload')
            .appendTo($("#list-upload"))
            .click(function () {
              data.context = $('<p/>').text('Uploading...').replaceAll($(this));
              data.submit()
                  .success(function (result, textStatus, jqXHR) {
                    var src = "{{ static_url('uploads/') }}" + result
                    $("#list-upload").append(
                        "<div class='col-sm-3 col-md-3' id=" + result.replace('.', '_') + ">" +
                            "<a href='javascript:void(0)' class='thumbnail' onclick=delImage('" + result + "') >" +
                            "<img src=" + src + " alt=" + result + " width='172' height='180'/>" +
                            "</a></div>")
                    $("<input/>").prop({"type": "hidden",
                                        "name": "imgNames",
                                        "id": result.replace('.', '-')})
                        .val(result)
                        .appendTo("#insu-form")
                    data.context.text('');
                  })
//                        .error(function (jqXHR, textStatus, errorThrown) {/* ... */})
//                        .complete(function (result, textStatus, jqXHR) {data.context.text('');});
            });
      }
    })
  });
  function delImage(name) {
    if (window.confirm("删除这张图吗？")) {
      $.ajax({url: "/admin/upload/del", data: "fileName=" + name, type: "GET",
        success: function (response) {
          $("#" + name.replace('.', '_')).remove()
          $("#" + name.replace('.', '-')).remove()
        }, error: function (response) {
          console.log("ERROR:", response)
        }});
    }
  }
</script>
{% end %}