{% extends "base.html" %}
{% block location_title %}
<h4> 选课列表</h4>
{% end %}
{% block main %}
<div id="Main">
    <form action="/admin/query/student/class" class="form-group">
        <input type="hidden" name="pageNo" id="pageNo" value="{{ page_no }}"/>
        学生id: <input type="text" name="uid" value="{{uid}}"/>
       &nbsp;&nbsp; 学生名字: <input type="text" name="uname" value="{{uname}}"/>
        &nbsp;老师：&nbsp;
        <select name="teacher" class="span2">
            <option value=""></option>
            {% for t in teachers %}
                 <option value="{{t.id}}">{{t.shortname}}-{{t.id}}</option>
            {% end %}
        </select>
       &nbsp; &nbsp;支付状态:&nbsp;
        <select name="deal">
            <option value=""></option>
            <option value="selected">预选</option>
            <option value="payed">已支付</option>
            <option value="refund">已退费</option>
        </select>
           &nbsp; &nbsp;年级:&nbsp;
        <select name="grade">
            <option value=""></option>
            <option value="ff808081480e8a3d014810b349e003b1">K3-08-27面试</option>
            <option value="ff808081480e8a3d014810b6241c03bf">K4-08-27面试</option>
            <option value="ff808081480e8a3d014810b81c6703ce">K5-08-27面试</option>

            <option value="ff808081480e8a3d0148111c040a0b6c">K3-08-28面试</option>
            <option value="ff808081480e8a3d0148111e7cb20b7d">K4-08-28面试</option>
            <option value="ff808081480e8a3d01481120a3500b87">K5-08-28面试</option>

            <option value="ff808081480e8a3d01481124515e0bbf">K3-08-29面试</option>
            <option value="ff808081480e8a3d01481126704c0bd2">K4-08-29面试</option>
            <option value="ff808081480e8a3d0148112893e00be3">K5-08-29面试</option>

        </select>&nbsp;

        <button type="submit" class="btn btn-info btn-sm">查询</button>
    </form>
    <div class="alert alert-danger">一共{{counts}}条记录</div>
  <table class="table table-hover">
    <!--<colgroup>-->
      <!--<col class="col-xs-1">-->
      <!--<col class="col-xs-1">-->
      <!--<col class="col-xs-1">-->
      <!--<col class="col-xs-9">-->
    <!--</colgroup>-->
    <tbody>
    <thead>
    <tr>
      <th>学生ID</th>
      <th>学生姓名</th>
      <th>老师</th>
      <th>班级</th>
      <th>WorkRoom</th>
      <th>上课时间</th>
      <th>课表</th>
      <th>转班</th>
      <th>调课</th>
      <th>操作时间</th>
      <th>处理</th>
    </tr>
    </thead>
       {% for entry in entries %}
           <tr class="success">
               <td><a target="_blank" href="/api/class/manage?uid={{ entry.uid }}&claId={{entry.cla_id }}">{{ entry.uid}}</a></td>
               <td><a  href="{{login_url}}/speiyou/auto_login.php?uname={{ entry.uname}}&user={{ entry.uid}}" title="{{ entry.uid }}" target="_blank">{{ entry.uname}}</a></td>
               <td>{{ entry.shortname }}</td>
               <td><a href="javascript:void(0)" title="{{ entry.class_name }}">{{ entry.class_name[0:6] + "......" }}</a></td>
               <td>{{ entry.workroom }}</td>
               <td><a href="javascript:void(0)" title="{{ entry.description}}">{{ entry.description[0:6] + "......" }}</a></td>
               {% if entry.deal == 'selected' %}
                    <td>待支付</td>
               {% elif entry.deal == 'refund' %}
                    <td>已退费</td>
               {% else %}
                    <td><a href="/admin/query/student/classtable?uid={{entry.uid}}&cla_id={{entry.cla_id}}">课表</a></td>
               {% end %}
               <td><a href="/admin/student/change/class?uid={{entry.uid}}&cla_id={{entry.cla_id}}">转班记录</a></td>
               <td><a href="/admin/student/change/date?select_id={{entry.id}}">调课</a></td>
               <td>{{ entry.lastupdate }}</td>
               {%if entry.handle == 'Y'%}
                    <td>Y</td>
               {%else%}
                <td><a href="" title="标记为已经处理">{{ entry.handle }}</a></td>
               {%end%}
           </tr>
        {% end %}
    </tbody>
  </table>
    {% include pager.html%}
</div> <!-- Mian -->
{% end %}
{% block extra_js %}
<script type="text/javascript">

    function search2(page) {
        document.getElementById("pageNo").value = page
        document.forms[0].submit()
        return true
    }

</script>
{% end %}

