<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>学而思培优-选课</title>

<link rel="stylesheet" href="{{ static_url('css/base.css') }}"/>
<link href="{{ static_url('css/sk-main.css') }}" rel="stylesheet"/>


<!--[if IE]>
<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
<!--[if IE 6]> 
<script type="text/javascript">var _belatedPNG=[".fixpng"];</script>
<![endif]-->
<!--[if IE 6]>
<script type="text/javascript" src="js/DD_belatedPNG.js"></script>
<script type="text/javascript">
(function(){
var A=(typeof _belatedPNG!="undefined")?_belatedPNG:[];
var B=[].concat(A).join(",");
DD_belatedPNG.fix(B);
})();
</script>
<![endif]-->

</head>

<body >
  <!-- sk-header begin -->
  <header id="sk-header">
      <div class="sk-wrapper">
         <div class="sk-top-bar">
         </div>
         <div class="clear"></div>
         <h1 class="sk-logo"><span class="fn-left"><a href="timetable_list.html"><img src="{{ static_url('images/pylogo-sk.png') }}" width="229" height="56" alt="学而思培优-选课" title="学而思培优-选课"/></a></span><span class="fn-left sk-logo-font">选课</span></h1>
         <div class="sk-search-bar">
         </div>
         <div class="clear"></div>
      </div>
</header>
  <!-- sk-header end -->

  <!-- sk-content end -->
  <section class="sk-content relative">
      <div class="bar-blue01"></div>
      <section class="relative sk-wrapper mtop45">
        <!-- search-bar begin -->
        <div id="search-bar"></div>
        <h1>{{ entry.msg }}</h1>
</body>
</html>
