{% extends index-base.html %}
{% block content %}
        <div style="min-height: 450px; text-align: center;">
            <h1>{{ entry.msg }}</h1>

            <h2 id="number"></h2>秒后自动关闭
            <script>
                var i = 3
                window.setInterval(timeit, 1000)
                var browserName=navigator.appName
                if (browserName=="Netscape")
                {
                    function closeme()
                        {
                        window.open('','_self','');
                        window.close();
                        }
                    }
                else
                {
                    if (browserName=="Microsoft Internet Explorer")
                    {
                        function closynoshowsme()
                        {
                            window.opener = "whocares";
                            window.close();
                        }
                    }
                }
                function timeit() {
                    document.getElementById("number").innerHTML = i
                    i --
                }

                window.setTimeout(closeme, 4000)

            </script>
        </div>
{% end %}
{% block extra_js %}


{% end %}