<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 {% block title %}
  <title>{{ escape(handler.settings["site_title"]) }}</title>
  {% end %}
  {% block extra_head %}
 {% end %}
<link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ static_url('css/new.css') }}" rel="stylesheet">

</head>
<body>
<div id="head" >
    <div class="container width" style="background-color:#56a7dc;">
        <div class="row" >
            <div class="col-md-5" >
                <div class="logo">
                    <span>
                        <img src="{{ static_url('images/pylogo-sk.png') }}" alt="选课" title="选课" /></span>
                    <span class="logo_font">选课</span>
                </div><!-- /end logo -->
            </div> <!-- /end col-md-5 -->
        </div> <!-- /end row -->
    </div><!-- /end container -->
</div><!-- /end head -->

 <div class="bar">
     <div class="container width" >
         <div class="bar_content">
         {% block bar_content %} {% end %}
        </div>
    </div> <!-- /end container -->
</div><!-- /end bar -->
<div id="content" >
    {% block content %}
     <div class="container" style="text-align: center">
      <h1>Welcome !!</h1>
  </div>
{% end %}
</div>

{% block pager %} {%end%}
<div class="footer">
     <p>咨询电话：010-82618899 62164116  京ICP备09032638号-4
     <br>Copyright @ 2004 – 2013 Xueersi.All Rights Reserved.学而思教育 版权所有</p>
</div>


</div>

<script src="{{ static_url('js/jquery.min.js') }}"></script>
<script src="{{static_url('js/bootstrap.min.js') }}"></script>
{% block extra_js %} {% end %}
</body>
</html>
