{% extends index-base.html %}
{% block bar_content %}
 <form action="/api/class/timetable/list" method="GET" class="form-inline" id="searchForm"  role="form">
          <input type="hidden" id="claId" name="claId" value="{{ args.get('claId') }}"/>
          <input type="hidden" id="uid" name="uid" value="{{ args.get('uid') }}"/>
          <input type="hidden" id="pageNo" name="pageNo" value="{{ args.get('pageNo', 1)}}"/>
          <div class="form-group">
            <label class="sr-only" for="teacherName">老师</label>
            <input type="text" class="form-control " id="teacherName" name="teacherName" placeholder="Teacher Name">
          </div>
          <div class="form-group">
            <select name="timeInterval" id="timeInterval" class="form-control">
              <option value="0" selected>----全天----</option>
              <option value="05:00-09:00" disabled>----上午----</option>
              <option value="05:00-09:00">05:00-09:00</option>
              <option value="09:00-12:00">09:00-12:00</option>
              <option value="12:00-23:00" disabled>----下午----</option>
              <option value="12:00-14:00">12:00-14:00</option>
              <option value="14:00-18:00">14:00-18:00</option>
              <option value="18:00-20:00">18:00-20:00</option>
              <option value="20:00-23:00">20:00-23:00</option>
            </select>
          </div>
          <div class="form-group"><button type="submit" class="btn btn-info">查询</button></div>
        </form>
        <script language="JavaScript" type="text/javascript">
          value = "{{ args.get('timeInterval', '') }}"
          options = document.getElementById("timeInterval")
          for(var i = 0; i < options.length; i++){
              if (options[i].value === value){
                  options[i].selected = true
              }
          }
        </script>
{% end %}

{% block content %}
   <div class="container">
    {% if not entries %}
        <div style="min-height: 500px">
            <center><h3>没有可选课表</h3></center>
        </div>
    {% else %}

        <table class="table">
          <thead>
            <tr>
              <th>老师</th>
              <th>时间</th>
              <th>课时</th>
              <th>日期</th>
              <th>预约</th>
            </tr>
          </thead>
          <tbody>
          {% for entry in entries %}
            <tr>
              <td class="btn-group-lg">{{ entry.teacher_name }} </td>
              <td>{{ entry.start_time[:-3] }}</td>
              <td>{{ entry.period }}分钟</td>
                <td>

                    <button type="button" id="idBtn" class="btn btn-warning btn-xs">2014年</button>
                    {% for c in entry.classes %}
                        <button type="button" class="btn btn-primary btn-xs">{{ c.date[5:].replace("-", ".") }}</button>
                    {% end %}
              </td>
              <td>
                    {% if not selected %}
                        <button class="btn btn-default btn-xs active"
                                onclick="show_model('您约的是:{{ entry.teacher_name }}老师, {{ entry.time_desc }},确定要约这个时间吗？',
                                 '{{ args.get('uid') }}', '{{ args.get('claId') }}', '{{entry.class_id }}')">约课</button>
                    {% else %}
                        <button class="btn btn-default btn-xs active"
                                onclick="show_model('    您已经选择了{{ selected.teacher_name }}的{{ selected.time_desc }}的课程，确实要转到{{ entry.teacher_name }}老师, {{ entry.time_desc }},的这个班级吗？',
                                 '{{ args.get('uid') }}', '{{ args.get('claId') }}', '{{entry.class_id }}')">重选</button>
                    {% end %} <!--end if selected-->
                <!--<button type="button" class="btn btn-default btn-xs active">约课</button>-->
              </td>
            </tr>
            {% end %} <!-- end for loop -->
           </tbody>
        </table>
        {% include model.html %}
        <form hidden="true" action="/timetable/select" id="selectForm" method="POST">
              <input type="hidden" id="s_uid" name="uid" value=""/>
              <input type="hidden" id="s_claId" name="claId" value=""/>
              <input type="hidden" id="s_planId" name="planId" value=""/>
          </form>
    {% end %} <!-- end if entries else -->
       </div>
   </div> <!--END CONTAINER-->
     {% include pager.html %}
{% end %} <!-- end block -->
<!--    page    -->


{% block extra_js %}
<script type="text/javascript">
//    $('#myModal').on('hidden.bs.modal', function (e) {
//      alert("hidden")
//    })
    function show_model(msg, uid, claId, planId) {
        document.getElementById("s_uid").value= uid
        document.getElementById("s_claId").value= claId
        document.getElementById("s_planId").value= planId
        document.getElementById("message").innerHTML ="<p class='text-left' style='font-size:14px; color:#333;'>" + msg + "</p>"

        $('#myModal').modal({
            keyboard:false
        })
    }
    function submit() {
        document.forms[1].submit()
    }

    function search2(page) {
        document.getElementById("pageNo").value = page
        document.forms[0].submit()
        return true
    }
</script>

{% end %}
