<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>学而思选课</title>
    <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ static_url('css/new.css') }}" rel="stylesheet">
</head>
<body>
    <ul style="width: 800px; list-style-type: none">
        {% for entry in entries %}
            {% if entry.check_roll > 0 %}
            <li class="timetable" style="background-color: darkgray">
            {% else %}
            <li class="timetable">
            {% end %}
                <div class="first">
                   {{ entry.start_time }}
                </div>
                <div class="second">
                    {{ entry.class_date }}
                </div>
                <div class="third">
                   {{ CheckRoll.NAME.get(entry.check_roll) }}
                </div>
            </li>
        {% end %}
        <!--<li class="timetable">-->
            <!--<div class="first">-->
                <!--13:00-13:30-->
            <!--</div>-->
            <!--<div class="second">-->
                <!--02月16日-->
            <!--</div>-->
            <!--<div class="third">-->
                <!--缺勤-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="timetable">-->
            <!--<div class="first">-->
                <!--13:00-13:30-->
            <!--</div>-->
            <!--<div class="second">-->
                <!--02月16日-->
            <!--</div>-->
            <!--<div class="third">-->
                <!--缺勤-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="timetable">-->
            <!--<div class="first">-->
                <!--13:00-13:30-->
            <!--</div>-->
            <!--<div class="second">-->
                <!--02月16日-->
            <!--</div>-->
            <!--<div class="third">-->
                <!--缺勤-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="timetable">-->
            <!--<div class="first">-->
                <!--13:00-13:30-->
            <!--</div>-->
            <!--<div class="second">-->
                <!--02月16日-->
            <!--</div>-->
            <!--<div class="third">-->
                <!--缺勤-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="timetable">-->
            <!--<div class="first">-->
                <!--13:00-13:30-->
            <!--</div>-->
            <!--<div class="second">-->
                <!--02月16日-->
            <!--</div>-->
            <!--<div class="third">-->
                <!--缺勤-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="timetable">-->
            <!--<div class="first">-->
                <!--13:00-13:30-->
            <!--</div>-->
            <!--<div class="second">-->
                <!--02月16日-->
            <!--</div>-->
            <!--<div class="third">-->
                <!--缺勤-->
            <!--</div>-->
        <!--</li>-->
        <!--<li class="timetable">-->
            <!--<div class="first">-->
                <!--13:00-13:30-->
            <!--</div>-->
            <!--<div class="second">-->
                <!--02月16日-->
            <!--</div>-->
            <!--<div class="third">-->
                <!--缺勤-->
            <!--</div>-->
        <!--</li>-->
            <!--<li class="timetable">-->
            <!--<div class="first">-->
                <!--13:00-13:30-->
            <!--</div>-->
            <!--<div class="second">-->
                <!--02月16日-->
            <!--</div>-->
            <!--<div class="third">-->
                <!--缺勤-->
            <!--</div>-->
        <!--</li>-->
            <!--<li class="timetable">-->
            <!--<div class="first">-->
                <!--13:00-13:30-->
            <!--</div>-->
            <!--<div class="second">-->
                <!--02月16日-->
            <!--</div>-->
            <!--<div class="third">-->
                <!--缺勤-->
            <!--</div>-->
        <!--</li>-->
            <!--<li class="timetable">-->
            <!--<div class="first">-->
                <!--13:00-13:30-->
            <!--</div>-->
            <!--<div class="second">-->
                <!--02月16日-->
            <!--</div>-->
            <!--<div class="third">-->
                <!--缺勤-->
            <!--</div>-->
        <!--</li>-->
    </ul>



</body>
</html>
<script>
</script>
