{% extends index-base.html %}
{% block bar_content %}
  <form action="/api/class/timetable/list" method="GET" class="form-inline" id="searchForm"  role="form">
          <input type="hidden" id="claId" name="claId" value="{{ args.get('claId') }}"/>
          <input type="hidden" id="uid" name="uid" value="{{ args.get('uid') }}"/>
          <input type="hidden" id="pageNo" name="pageNo" value="{{ args.get('pageNo', 1)}}"/>
          <input type="hidden" id="action" name="action" value="{{ action }}"/>
          <div class="form-group" style="margin-top:8px; margin-left:10px; ">
            <label class="sr-only" for="txt_auto">老师</label>
            <!-- <input type="text" class="form-control  input-sm " id="txt_auto" name="teacherName" placeholder="Teacher Name" autocomplete="off"> -->
            <div class="autoComplete"><input type="text"   class="form-control  input-sm " value="input" /><ul><li></li></ul></div>
          </div>
          <div class="form-group"  style="margin-top:8px;margin-left:5px;">
            <select name="timeInterval" id="timeInterval" class="form-control input-sm">
            <option value="0" selected>----全天----</option>
            <option value="05:00-09:00" disabled>----上午----</option>
            <option value="05:00-09:00">05:00-09:00</option>
            <option value="09:00-12:00">09:00-12:00</option>
            <option value="12:00-23:00" disabled>----下午----</option>
            <option value="12:00-14:00">12:00-14:00</option>
            <option value="14:00-18:00">14:00-18:00</option>
            <option value="18:00-20:00">18:00-20:00</option>
            <option value="20:00-23:00">20:00-23:00</option>
           </select>
          </div>
          <div class="form-group" style="margin-top:8px;margin-left:5px;"><button type="submit" class="btn btn-info btn-xs">查询</button></div>
        </form>
        <script language="JavaScript" type="text/javascript">
          value = "{{ args.get('timeInterval', '') }}"
          options = document.getElementById("timeInterval")
          for(var i = 0; i < options.length; i++){
              if (options[i].value === value){
                  options[i].selected = true
              }
          }
        </script>
{% end %}

{% block content %}
   <div class="container">
    {% if selected %}
        <div style="text-align: center;font-size: 15px; margin-top: 5px; margin-bottom: 5px">
            您已经选了：{{ selected.shortname + "  " + selected.fullname }}老师 {{ selected.description }}
        </div>
    {% end %}
    {% if not entries %}
        <div style="min-height: 500px">
            <center><h3>没有可选课表</h3></center>
        </div>
    {% else %}
      <table class="table table-bordered table-striped" style="width:96%; margin-left:2%; margin-top:10px;">
      <thead>
        <tr style="height:70px; background-color:#333;">
          <th><span class="glyphicon glyphicon-user" style="margin-right:5px;"></span>老师<br>Teacher</th>
          <th><span class="glyphicon glyphicon-time" style="margin-right:5px;"></span>开始时间<br>Start Time</th>
          <th><span class="glyphicon glyphicon-sound-5-1" style="margin-right:5px;"></span>上课日期<br>Class Date</th>
          <th><span class="glyphicon glyphicon-hand-up" style="margin-right:5px;"></span>操作<br>Operation</th>
        </tr>
      </thead>
          <tbody>
          {% for entry in entries %}
            <tr>
              <td class="btn-group-lg">
                        <a target="_blank" href="/teacher?tid={{entry.teacher }}">{{ entry.shortname }}</a>
              </td>
              <td>{{ str(entry.start_time)[:-3] }}</td>
                <td>
                    {{ entry.description }}
                    <!--<button type="button" id="idBtn" class="btn btn-warning btn-xs">2014年</button>-->
                    <!--{% for c in entry.id_dates %}-->
                        <!--<button type="button" class="btn btn-primary btn-xs">{{ c[1][5:].replace("-", ".") }}</button>-->
                    <!--{% end %}-->
              </td>
              <td>
                {% if action == '2' %}
                     <button class="btn btn-default btn-xs active"
                        onclick="show_model2('您约的是:{{ entry.shortname }} 老师, {{ entry.description }},确定要约这个时间吗？',
                        '{{ args.get('uid') }}', '{{ args.get('claId') }}', '{{entry.workroom }}')">
                            转班
                    </button>
                  {% else %}
                <button class="btn btn-default btn-xs active"
                    onclick="show_model('您约的是:{{ entry.shortname }} 老师, {{ entry.description }},确定要约这个时间吗？',
                    '{{ args.get('uid') }}', '{{ args.get('claId') }}', '{{entry.workroom }}')">
                        {% if not selected %}
                                约课
                        {% else %}
                                重选
                        {% end %}
                </button>
                {% end %}
              </td>
            </tr>
            {% end %} <!-- end for loop -->
           </tbody>
        </table>
        {% include model.html %}
          <form hidden="true" action="/timetable/select" id="selectForm" method="POST">
              <input type="hidden" id="s_uid" name="uid" value=""/>
              <input type="hidden" id="s_claId" name="claId" value=""/>
              <input type="hidden" id="s_planId" name="workroom" value=""/>
          </form>
    {% end %} <!-- end if entries else -->
       </div>
   </div> <!--END CONTAINER-->
{% end %} <!-- end block -->
<!--    page    -->
{% block pager %}
    {% include pager.html %}
{%end %}

{% block extra_js %}
<script type="text/javascript">
    function show_model(msg, uid, claId, planId) {
        document.getElementById("s_uid").value= uid
        document.getElementById("s_claId").value= claId
        document.getElementById("s_planId").value= planId
        document.getElementById("message").innerHTML ="<p class='text-left' style='font-size:14px; color:#333;'>" + msg + "</p>"
        $('#myModal').modal({
            keyboard:false
        })
    }
   function show_model2(msg, uid, claId, planId) {
        document.getElementById("s_uid").value= uid
        document.getElementById("s_claId").value= claId
        document.getElementById("s_planId").value= planId
        document.getElementById("message").innerHTML ="<p class='text-left' style='font-size:14px; color:#333;'>" + msg + "</p>"
        document.forms[1].action = "/timetable/change"
        $('#myModal').modal({
            keyboard:false
        })
    }
    function submit() {
        document.forms[1].submit()
    }

    function search2(page) {
        document.getElementById("pageNo").value = page
        document.forms[0].submit()
        return true
    }

</script>
<!--<script src="{{ static_url('js/jquery.1.8.3.js') }}"></script>-->
<script src="{{ static_url('js/typeahead.js') }}"></script>
<script src="{{ static_url('js/customer_auto_complete.js') }}"></script>
<!--<script src="{{static_url('js/jquery.autocomplete.min.js') }}"></script>-->
{% end %}
