{% extends index-base.html %}

{% block content %}
    <div class="container">
    {% if not entries or len(entries) == 0 %}
        <div>
            <center><h3>没有课表</h3></center>
        </div>
    {% else %}
        {% set  entry = entries[0] %}
        <div class="info">
           <p>转班调课规则： 您可以转班3次; 调课，请假共1次。转班调课需提前24小时申请，你只可以修改从现在起24小时以后的课表。<br>调课后的课程不参与转班，已上过的课程不能转班。 </p>
         {% if entry.class_status == 1 %}
            <div class="btn btn-warning btn-group-sm btn-wz">
             <a href="/api/class/timetable/list?claId={{ entry.course_id }}&uid={{ entry.student_id }}">重选</a>
            </div>
         {% elif entry.can_change %}
            <div class="btn btn-warning btn-group-sm btn-wz">
                <a href="/timetable/change/all/query?claId={{ entry.course_id }}&uid={{ entry.student_id }}&planId={{ entry.class_id }}">转班</a>
            </div>
         {% else %}
                <div class="btn btn-warning btn-group-sm btn-wz">已转班3次</div>
         {% end %}

        </div><!--end info-->
        <table class="table table-hover">
          <thead>
            <tr>
              <th>老师</th>
              <th>时间</th>
              <th>课时</th>
              <th>日期</th>
              <th>进度</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
             {% for cc in entry.classes %}
                <tr>
                    <td>{{ cc.teacher_name }}</td>
                    <td>{{ cc.time }}</td>
                    <td>{{ cc.period }}</td>
                    <td>{{ cc.date }}</td>
                    <td>
                          {% if entry.class_status == 1%}
                            {{ TimeStatus.NAME.get(1) }}
                          {% else %}
                            {{ TimeStatus.NAME.get(cc.time_status) }}
                          {% end %}
                    </td>
                    <td>
                        {% if cc.can_time_change %}
                        <a target="_blank"
                           href="/timetable/change/time/list?planId={{ entry.class_id }}&uid={{ entry.student_id }}&claId={{ entry.course_id }}&timeId={{ cc.time_id }}">
                            <button type="button" class="btn btn-success btn-xs">调课</button>
                           </a>
                        {% end %}

                    </td>
                </tr>
             {% end %}
          </tbody>
        </table>
    {% end %} <!-- end if have entries-->
  </div> <!--end container-->
{% end %} <!--end block content-->