{% extends index-base.html %}
<!--content bar-->

{% block content %}
   <div class="content" style="min-height: 500px">
        {% if selected %}
        <div style="text-align: center;font-size: 15px; margin-top: 5px; margin-bottom: 5px">
            您已经选了：{{ selected.shortname + "  " + selected.fullname }}老师 {{ selected.description }}
        </div>
    {% end %}
    {% if not entries %}
       <div style="min-height: 450px; text-align: center;">
            <h1><h3>没有可选课表</h3></h1>
        </div>
    {% else %}

  <table class="table table-bordered table-striped" style="width:96%; margin-left:2%; margin-top:10px;">
      <thead>
        <tr style="height:70px; background-color:#333;">
          <th><span class="glyphicon glyphicon-user" style="margin-right:5px;"></span>老师<br>Teacher</th>
          <th><span class="glyphicon glyphicon-time" style="margin-right:5px;"></span>开始时间<br>Start Time</th>
          <th><span class="glyphicon glyphicon-sound-5-1" style="margin-right:5px;"></span>上课日期<br>Class Date</th>
          <th><span class="glyphicon glyphicon-hand-up" style="margin-right:5px;"></span>操作<br>Operation</th>
        </tr>
      </thead>
          <tbody>
          {% for entry in entries %}
            <tr>
              <td class="btn-group-lg">{{ entry.shortname }} </td>
              <td>{{ str(entry.start_time)[:-3] }}</td>
              <td>{{ entry.description }}</td>
              <td>
                <button class="btn btn-default btn-xs active"
                        onclick="show_model('确实要转到{{ entry.shortname }}老师, {{ entry.description }},的这个班级吗？',
                 '{{ args.get('uid') }}', '{{ args.get('claId') }}', '{{entry.time_id }}')">调课</button>
              </td>
            </tr>
            {% end %} <!-- end for loop -->
           </tbody>
        </table>

       {% include model.html %}
      <form hidden="true" action="/timetable/change" id="selectForm" method="POST">
              <input type="hidden" id="s_uid" name="uid" value=""/>
              <input type="hidden" id="s_claId" name="claId" value=""/>
              <input type="hidden" id="s_planId" name="newTimeId" value=""/>
              <input type="hidden" id="s_oldPlan" name="oldTimeId}" value="{{oldTimeId}}"/>
      </form>

    </div>
    {% end %} <!-- end if entries else -->
  </div> <!--END CONTAINER-->
{% include pager.html %}
{% end %} <!-- end block -->

{% block extra_js %}
<script type="text/javascript">
    function show_model(msg, uid, claId, planId) {
        document.getElementById("s_uid").value= uid
        document.getElementById("s_claId").value= claId
        document.getElementById("s_planId").value= planId
        document.getElementById("message").innerHTML = "<p class='text-left' style='font-size:14px; color:#333;'>" + msg + "</p>"

        $('#myModal').modal({
            keyboard:false
        })
    }
    function submit() {
        document.forms[1].submit()
    }

    function search2(page) {
        document.getElementById("pageNo").value = page
        document.forms[0].submit()
        return true
    }
</script>

{% end %}
